<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
        $("a.delete.event").click(function() {
            if (confirm("Delete this event FOREVER?")) 
                $("form.delete.event").submit();
            return false;
        });
    });
  </script>
<% end %>

<div id="pageMain" class="admin">

<form class="event delete form" action="<%= admin_event_path @event %>" method="post">
  <input type="hidden" name="_method" value="delete" />
</form>
<div id="fullColumn">
  <div id="titleContent">
    <h2>
        <%= @event.name %>
        <a style="float: right" href="<%= admin_path %>">&laquo; Back</a>
    </h2>
    <div class="admin_landing_link">
      <%= link_to "Delete this event", "#", :class => "event delete" %>
    </div>
  </div>
</div>

<div id="ltColumn">

  <%= form_for @event, :url => admin_event_path(@event) do |f| %>
    <%= render "admin/events/form", :event => @event, :f => f %>
  <% end %>

</div>

<div id="rtColumn">
  <% if @event.icon.exists? %>
    Original:<br/>
    <%= link_to image_tag(@event.icon.url), @event.icon.url %><br/>
    Small (109x60):<br/>
    <%= link_to image_tag(@event.icon.url(:small)), @event.icon.url(:small) %><br/>
    Thumbnail (20x20):<br/>
    <%= link_to image_tag(@event.icon.url(:thumbnail)), @event.icon.url(:thumbnail) %><br/>
  <% end %>
</div>

<div class="clear"></div>

</div>