<div class="photo admin" id="photo-<%= photo.id %>">
    <a href="<%= photo_url photo %>">
        <img src="<%= thumbnail_url photo, "Small" %>" />
    </a>
    
    <%= form_for photo, :url => admin_art_photo_path(art, photo) do |f| %>
        <%= f.label :flickr_username %>
        <%= f.text_field :flickr_username %>
        <br/><br/>
        <%= f.label :primary %>
        <%= f.check_box :primary %>
        <br/><br/>
        <%= f.submit "Update" %>
    <% end %>

    <form class="photo delete form" action="<%= admin_art_photo_path art, photo %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <%= link_to "Delete this photo", "#", :class => "photo delete" %>
    </form>

</div>