<div id="pageMain">
    <div id="titleContent">
      <h2>
        Contact Us
      </h2>
      <div class="clear"></div>

    </div>
	<%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    
  <div id="ltColumn" class="oneCol">
    <%= form_tag send_contact_path do %>
      <ul>
        <li>
          <label>Name</label>
          <%= text_field_tag :name, params[:name] %>
        </li>
        <li>
          <label>Email</label>
          <%= text_field_tag :email, params[:email] %>
        </li>
        <li>
          <label>Comment</label>
          <%= text_area_tag :text, params[:text] %>
        </li>
        <li>
          <button class="submitBtn" type="submit">
              <span>Submit</span>
          </button>
        </li>   
      </ul> 
    <% end %>
  </div>

  <div id="rtColumn"></div>
  <div class="clear"></div>

</div>