<% content_for :body_class, "home" %>
<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=loadMap"></script>
<% end %>

<% content_for :head do %>

  <script type="text/javascript">
    var icons = {};
  
    var categoryMarkers = {};
    var neighborhoodMarkers = {};
  
    var arts = [];
    
    var currentInfoWindow;
    
    <% @arts.each do |art| %>
      arts.push({
        id: "<%= art.id %>",
        title: "<%= escape_javascript art.title %>",
        category: "<%= escape_javascript art.category %>",
        neighborhood: "<%= escape_javascript art.neighborhood %>",
        ward: "<%= escape_javascript art.ward %>",
        artist: "<%= escape_javascript art.artist %>",
        year: "<%= escape_javascript art.year %>",
        description: "<%= escape_javascript art.description %>",
        latitude: <%= art.latitude || 0 %>,
        longitude: <%= art.longitude || 0 %>
      });
    <% end %>
  
    function loadMap() {
      var location = new google.maps.LatLng(38.9043, -77.035);
    
      var map = new google.maps.Map(document.getElementById("map_canvas"), {
        center: location,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      
      // icon types
      icons.blue = new google.maps.MarkerImage("/images/marker_blue.png");
      icons.red = new google.maps.MarkerImage("/images/marker_red.png");
      icons.museum = new google.maps.MarkerImage("/images/museum.png");
      
      $.each(arts, function(i, art) {
        var marker = markerFor(art, map);
        marker.setMap(map);
        
        if (!categoryMarkers[art.category])
          categoryMarkers[art.category] = [];
        if (!neighborhoodMarkers[art.neighborhood])
          neighborhoodMarkers[art.neighborhood] = [];
          
        categoryMarkers[art.category].push(marker);
        neighborhoodMarkers[art.neighborhood].push(marker);
      });
    }
    
    function markerFor(art, map) {
      var location = new google.maps.LatLng(art.latitude, art.longitude);
      
      var neighborhood = art.neighborhood || "Adams Morgan";
      var html = "<table>" +
        "<tr rowspan=\"6\"><td><img src=\"/images/placeholder.jpg\" width=\"200px\" height=\"200px\"></td><td><table><tr><td><b>Title:</b> </td><td NOWRAP>" + art.title +
        "</td></tr><tr><td><b>Artist:</b> </td><td NOWRAP>" + art.artist + " </td></tr><tr><td><b>Erected:</b> </td><td>" + art.year + "  </td></tr><tr><td><b>NeighborHood:</b></td><td NOWRAP>" + neighborhood + "</td></tr>    <tr><td COLSPAN=2><a href=\"/arts/" + art.id + "\" target=\"_blank\" />Landing Page</a></table>      </td></tr>   </td></tr>" +
        "</table>";
      
      var icon = (art.category == 'Museum' || art.category == 'Gallery') ? icons.museum : icons.red;
      
      var marker = new google.maps.Marker({
        position: location,
        icon: icon,
        title: art.title
      });
      
      google.maps.event.addListener(marker, "click", function() {
        if (currentInfoWindow) currentInfoWindow.close();
        currentInfoWindow = new google.maps.InfoWindow({content: html});
        currentInfoWindow.open(map, marker);
      });
      
      return marker;
    }
    
    // arm the filter checkboxes
    $(function() {
      
      $("input.checkbox.category").click(function() {
        var checked = this.checked;
        var category = $(this).next("span.category").html();
        $.each(categoryMarkers[category], function(i, marker) {
          marker.setVisible(checked);
        });
      });
      
      $("input.checkbox.neighborhood").click(function() {
        var checked = this.checked;
        var neighborhood = $(this).next("span.neighborhood").html();
        $.each(neighborhoodMarkers[neighborhood], function(i, marker) {
          marker.setVisible(checked);
        });
      });
      
      $(".hideCategory").click(
        function() {
          $("#categoryScroll").slideUp();
          $(".hideCategory").hide();
          $(".showCategory").show();
          return false;
        }
      );
      
      $(".hideNeighborhood").click(
        function() {
          $("#neighborhoodScroll").slideUp();
          $(".hideNeighborhood").hide();
          $(".showNeighborhood").show();
          return false;
        }
      );
      
      $(".showCategory").click(
        function() {
          $("#categoryScroll").slideDown();
          $(".showCategory").hide();
          $(".hideCategory").show();
          return false;
        }
      );
      
      $(".showNeighborhood").click(
        function() {
          $("#neighborhoodScroll").slideDown();
          $(".showNeighborhood").hide();
          $(".hideNeighborhood").show();
          return false;
        }
      );
    });
    
  </script>
  
<% end %>

<% content_for :header do %>
  <div id="featureBox">
    <div id="mainText">
      <h2>Discover the art around us</h2>
      <span>find and map the graffiti you love to the mural we missed</span>
    </div>
    <div id="curateBox">
      <span>Know of some art around you?</span>
      <a class="buttonLink" id="curateButton" href="<%= new_art_path %>">Curate it now!</a>
    </div>  
  </div>
<% end %>

<% content_for :bottom do %>

  <div id="mapContainer">
    <form id="filterForm" action="." method="get">
      <fieldset>
        <legend>Category</legend>
        <a class="hideCategory" href="#">Hide</a>
        <a class="showCategory" href="#">Show</a>
        <div class="clear"></div>
        <ul id="categoryScroll">
          <% categories.each do |category| %>
            <li>
              <label>
                <input class="checkbox category" type="checkbox" name="word" checked />
                <span class="category"><%= category %></span>
              </label>
            </li>
          <% end %>
        </ul> 
      </fieldset>
      <fieldset>
        <legend>Neighborhood</legend>
        <a class="hideNeighborhood" href="#">Hide</a>
        <a class="showNeighborhood" href="#">Show</a>
        <div class="clear"></div>
        <ul id="neighborhoodScroll">
          <% neighborhoods.each do |neighborhood| %>
            <li>
              <label>
                <input class="checkbox neighborhood" type="checkbox" name="word" checked />
                <span class="neighborhood"><%= neighborhood %></span>
              </label>
            </li>
          <% end %>
        </ul>
      </fieldset>
    </form>
    
    <div id="map_canvas"></div>
    
  </div>  

<% end %>