<% content_for :body_class, "home" %>
<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=loadMap"></script>
<% end %>

<% content_for :head do %>

  <script type="text/javascript">
    var map;
    var geocoder;
    
    var arts = [];
    var icons = {};
    
    var searchMarker;
    var searchInfoWindow;
    
    var markers = [];
  
    var currentInfoWindow;
    
    <% @arts.each do |art| %>
      arts.push({
        id: "<%= art.to_param %>",
        title: "<%= escape_javascript art.title %>",
        category: "<%= escape_javascript art.category %>",
        neighborhood: "<%= escape_javascript art.neighborhood %>",
        artist: "<%= escape_javascript art.artist %>",
        year: "<%= escape_javascript art.year %>",
        flickr_id: "<%= art.flickr_ids.first %>",
        commissioned: <%= art.commissioned? %>,
        latitude: <%= art.latitude || 0 %>,
        longitude: <%= art.longitude || 0 %>
      });
    <% end %>
  
    function loadMap() {
      var location = new google.maps.LatLng(38.9043, -77.035);
    
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        center: location,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      
      var wards = new google.maps.KmlLayer("http://theartaround.us/kml/dc.kml", {
        preserveViewport: true
      });
      wards.setMap(map);
      
      // icon types
      icons.blue = new google.maps.MarkerImage("/images/marker_blue.png");
      icons.red = new google.maps.MarkerImage("/images/marker_red.png");
      icons.museum = new google.maps.MarkerImage("/images/museum.png");
      
      $.each(arts, function(i, art) {
        var marker = markerFor(art, map);
        
        //TODO:
        // set the category and commissioned flag for each marker on the marker itself
        // store the marker in the markers array
        marker.filters = {
          category: (art.category || "Unknown"), 
          commissioned: art.commissioned
        };
        markers.push(marker);
        
        marker.setMap(map);
      });
      
      geocoder = new google.maps.Geocoder();
      $("button.searchBtn").click(function() {
        var query = $("#id_mapsearch").val();
        geocoder.geocode({
          address: query,
          region: "us"
        }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setZoom(15);
            
            searchMarker = new google.maps.Marker({position: results[0].geometry.location});
            searchMarker.setMap(map);
              
            map.panTo(results[0].geometry.location);
          }
        });
      });
    }
    
    function markerFor(art, map) {
      var location = new google.maps.LatLng(art.latitude, art.longitude);
      
      var html = '<div class="mapBubble">' +
        '<a class="bubbleimg" id="bubbleimg-' + art.id + '" href="/arts/' + art.id + '" target="_blank">Image</a>' +
        //'<a href="#">Close</a>' +
        '<div class="bubbleMetaData">' +
            '<dl>' +
                '<dt>Title</dt>' +
                '<dd>' + art.title + '</dd>' +
            
                '<dt>Artist</dt>' +
                '<dd>' + (art.artist || "Unknown") + '</dd>' +
            
                '<dt>Erected</dt>' +
                '<dd>' + (art.year || "Unknown") + '</dd>' +
            
                '<dt>Neighborhood</dt>' +
                '<dd>' + (art.neighborhood || "Unknown") + '</dd>' +
            '</dl>' +
            '<a href="/arts/' + art.id + '" target="_blank">More Information</a>' +
        '</div>' +
      '</div>';
      
      var icon = (art.category == 'Museum' || art.category == 'Gallery') ? icons.museum : icons.red;
      
      var marker = new google.maps.Marker({
        position: location,
        icon: icon,
        title: art.title
      });
      
      google.maps.event.addListener(marker, "click", function() {
        clearWindow();
        
        currentInfoWindow = new google.maps.InfoWindow({content: html});
        currentInfoWindow.open(map, marker);
        
        if (art.flickr_id) {
          Flickr.getThumbnail(art.flickr_id, "Medium", function(thumbnail) {
            if (thumbnail)
              $("#bubbleimg-" + art.id).css("background-image", "url(\"" + thumbnail.source + "\")");
          });
        }
      });
      
      return marker;
    }
    
    // arm the filter checkboxes
    $(function() {
      
      $(".hideCategory").click(
        function() {
          $("#categoryScroll").slideUp();
          $(".hideCategory").hide();
          $(".showCategory").show();
          return false;
        }
      );
      
      $(".showCategory").click(
        function() {
          $("#categoryScroll").slideDown();
          $(".showCategory").hide();
          $(".hideCategory").show();
          return false;
        }
      );
      
      $(".hideCommissioned").click(
        function() {
          $("#commissionedScroll").slideUp();
          $(".hideCommissioned").hide();
          $(".showCommissioned").show();
          return false;
        }
      );
      
      $(".showCommissioned").click(
        function() {
          $("#commissionedScroll").slideDown();
          $(".showCommissioned").hide();
          $(".hideCommissioned").show();
          return false;
        }
      );
      
      
      $("input.filter").click(function() {
        clearWindow();
        
        // figure out commission filter
        var ensure_commissioned;
        if ($("#filter_commissioned_all")[0].checked)
          ensure_commissioned = false;
        else if ($("#filter_commissioned_only")[0].checked)
          ensure_commissioned = true;
          
        //TODO: figure out allowed categories


        // go through each marker and ensure it passes the test
        $.each(markers, function(i, marker) {
          var passed_commission;
          var passed_category = true;
          
          // examine for commissioned status
          passed_commission = (!ensure_commissioned || (ensure_commissioned && marker.filters.commissioned));
          
          marker.setVisible(passed_commission && passed_category);
        });
      });
      
    });
    
    function clearWindow() {
      if (currentInfoWindow) currentInfoWindow.close();
    }
  </script>
  
<% end %>


<div id="featureBoxWrapper">       
  <div id="featureBox">
    <div id="mainText">
      <h2>Discover the art around us</h2>
      <span>find and map the graffiti you love to the mural we missed</span>
    </div>
    <div id="curateBox">
      <span>Know of some art around you?</span>
      <a class="buttonLink" id="curateButton" href="/arts/new">Curate it now!</a>
    </div>  
    <div class="clear"></div>
  </div>
</div>

<div id="mapSearchWrapper">
  <div id="mapSearch">
    <form action="#" onsubmit="return false">
      <label>Zoom me down to an address or zip</label>
      <input id="id_mapsearch" type="text" />
      <button class="searchBtn" type="submit">
          <span>Search</span>
      </button>
    </form>
  </div>  
</div>

<div id="mapContainer">
  <form id="filterForm" action="." method="get">
    <fieldset>
      <legend>Category</legend>
      <a class="hideCategory" href="#">Hide</a>
      <a class="showCategory" href="#">Show</a>
      
      <div class="clear"></div>
      
      <ul id="categoryScroll">
        <li>
          <label>
            <input class="filter radio" type="radio" name="category" id="filter_all" checked />
            <span>All</span>
          </label>
        </li>
        
        <li>
          <label>
            <input class="filter category radio" name="category" type="radio" id="filter_museum" />
            <span>Museum</span>
          </label>
        </li>
        
        <li>
          <label>
            <input class="filter category radio" name="category" type="radio" id="filter_gallery" />
            <span>Gallery</span>
          </label>
        </li>
        
        <li>
          <label>
            <input class="filter radio" name="category" type="radio" id="filter_public" />
            <span>Public</span>
          </label>
          
          <div class="clear"></div>
          
          <ul id="publicSubset">
            <% categories.each do |category| %>
              <li>
                <label>
                  <input class="filter checkbox category public" name="public_category" type="checkbox" checked disabled/>
                  <span class="category"><%= category %></span>
                </label>
              </li>
            <% end %>
          </ul>
          
        </li>
      </ul>
    </fieldset>
    
    <fieldset>
      <legend>Commissioned</legend>
      <a class="hideCommissioned" href="#">Hide</a>
      <a class="showCommissioned" href="#">Show</a>
      <div class="clear"></div>
      
      <ul id="commissionedScroll">
        <li>
          <label>
            <input class="filter commissioned radio" type="radio" name="commissioned" id="filter_commissioned_all" checked />
            <span>All</span>
          </label>
        </li>
        <li>
          <label>
            <input class="filter radio" type="radio" name="commissioned" id="filter_commissioned_only" />
            <span>Commissioned</span>
          </label>
        </li>
      </ul>
    </fieldset>

  </form>
  
  <div id="map_canvas"></div>
  
</div>