<% content_for :body_class, "home" %>
<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=loadMap"></script>
<% end %>
<% content_for :tabs do %>
  <li id="events_link" class="map">
    <a href="#">Events</a>
  </li>
  <li id="allArt_link" class="map active">
    <a href="#">All Art</a>
  </li>
<% end %>

<% content_for :head do %>

  <script type="text/javascript">
    var map;
    var geocoder;
    
    var arts = [];
    var events = {};
    var icons = {};
    
    var searchMarker;
    var searchInfoWindow;    
    
    var markers = [];
  
    var currentInfoWindow;
    
    <% @events.each do |event| %>
      events["<%= event.slug %>"] = {
        id: "<%= event.id %>",
        name: "<%= escape_javascript event.name %>",
        description: "<%= escape_javascript event.description %>",
        starts_at: "<%= just_day event.starts_at %>",
        ends_at: "<%= just_day event.ends_at %>"
      };
    <% end %>

    <% @arts.each do |art| %>
      arts.push({
        id: "<%= art.to_param %>",
        event_id: "<%= art.event_id %>",
        title: "<%= escape_javascript art.title %>",
        category: "<%= escape_javascript art.category %>",
        neighborhood: "<%= escape_javascript art.neighborhood %>",
        ward: "<%= art.ward %>",
        description: "<%= escape_javascript art.description %>",
        artist: "<%= escape_javascript art.artist %>",
        year: "<%= escape_javascript art.year.to_s %>",
        flickr_id: "<%= (art.flickr_ids || []).first %>",
        commissioned: <%= art.commissioned? %>,
        latitude: <%= art.latitude || 0 %>,
        longitude: <%= art.longitude || 0 %>
      });
    <% end %>
  
    function loadMap() {
      var location = new google.maps.LatLng(38.9043, -77.035);
    
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        center: location,
        zoom: 12,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      
      var wards = new google.maps.KmlLayer("http://theartaround.us/kml/dc.kml", {
        preserveViewport: true
      });
      wards.setMap(map);
      
      // icon types
      icons.blue = new google.maps.MarkerImage("/images/marker_blue.png");
      icons.red = new google.maps.MarkerImage("/images/art.png");
      icons.museum = new google.maps.MarkerImage("/images/venue.png");
      
      $.each(arts, function(i, art) {
        var marker = markerFor(art, map);
        
        marker.filters = {
          category: (art.category || "Unknown").toLowerCase(), 
          commissioned: art.commissioned,
          ward: art.ward,
          title: art.title,
          artist: art.artist,
          event_id: art.event_id
        };
        markers.push(marker);
        
        marker.setMap(map);
      });
      
      geocoder = new google.maps.Geocoder();
      $("ul#location button.searchBtn").click(function() {
        var query = $("ul#location #id_location").val();
        geocoder.geocode({
          address: query,
          region: "us"
        }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setZoom(15);
            
            searchMarker = new google.maps.Marker({position: results[0].geometry.location});
            searchMarker.setMap(map);
              
            map.panTo(results[0].geometry.location);
          }
        });
      });
    }
    
    function markerFor(art, map) {
      var location = new google.maps.LatLng(art.latitude, art.longitude);
      
      var html = '<div class="mapBubble">' +
        '<h4>' + art.title + '</h4>' +
		'<div class="icons"><a class="eventIcon">5x5</a><a class="popularIcon">Popular Artwork</a><a class="commissionedIcon">DC Arts</a></div>' +
        
		'<div class="bubbleMetaData">' +
            '<dl>' +
	            '<dt>Category</dt>' +
	            '<dd>' + (art.category || "Unknown") + '</dd>' +
	
                '<dt>Artist</dt>' +
                '<dd>' + (art.artist || "Unknown") + '</dd>' +
            
                '<dt>Erected</dt>' +
                '<dd>' + (art.year || "Unknown") + '</dd>' +
       
            '</dl>' +
        '</div>' +
        '<a class="bubbleimg" id="bubbleimg-' + art.id + '" href="/arts/' + art.id + '" target="_blank">Image</a>' +
		'<p>' + (art.description || "(no description)") + '<a href="/arts/' + art.id + '" target="_blank">More Information</a></p>' +
        
      '</div>';
      
      var icon = (art.category == 'Museum' || art.category == 'Gallery' || art.category == 'Market') ? icons.museum : icons.red;
      
      var marker = new google.maps.Marker({
        position: location,
        icon: icon,
        title: art.title
      });
      
      google.maps.event.addListener(marker, "click", function() {
        clearWindow();
        
        currentInfoWindow = new google.maps.InfoWindow({content: html});
        currentInfoWindow.open(map, marker);
        
        if (art.flickr_id) {
          Flickr.getThumbnail(art.flickr_id, "Medium", function(thumbnail) {
            if (thumbnail)
              $("#bubbleimg-" + art.id).css("background-image", "url(\"" + thumbnail.source + "\")");
          });
        }

      });
      
      return marker;
    }

    function selectAllArt() {
      resetFilter();
      $("#eventsWrapper").hide();
      $("#filterForm").removeClass("event").addClass("allArt");
      $("ul.main_nav li").removeClass("active");
      $("ul.main_nav li#allArt_link").addClass("active");
      recalculateFilter();
    }

    function selectEvent(slug) {
      resetFilter();
      $("#eventsWrapper").hide();

      var event = events[slug];
      
      // populate the event details into the filter pane
      var container = $(".mapTitle.event");
      container.find("h3").html(event.name);
      container.find("span").html(event.starts_at + " - " + event.ends_at);
      $("p.description.event").html(event.description);

      // switch the filter pane into event mode
      $("#filterForm").removeClass("allArt").addClass("event");
      $("ul.main_nav li").removeClass("active");
      $("ul.main_nav li#events_link").addClass("active");

      // set the event as a filter (hidden input field)
      $("#filter_event_id").val(event.id);

      recalculateFilter();
    }

    // reset filters in filter pane
    function resetFilter() {
      clearWindow();

      $("#filter_commissioned_all").prop("checked", "checked");
      $("#filter_category_all").prop("checked", "checked");
      $("input.filter.public").prop("checked", "checked");
      $("#id_wards").val("");
      $("#filter_event_id").val("");
    }
    
    function recalculateFilter() {
      clearWindow();
      
      // figure out commission filter
      var ensure_commissioned;
      if ($("#filter_commissioned_all")[0].checked)
        ensure_commissioned = false;
      else if ($("#filter_commissioned_only")[0].checked)
        ensure_commissioned = true;
        
        
      var all_categories = $("#filter_category_all")[0].checked;
      var just_museum = $("#filter_category_museum")[0].checked;
      var just_gallery = $("#filter_category_gallery")[0].checked;
      var just_market = $("#filter_category_market")[0].checked;
      
      var just_public = $("#filter_category_public")[0].checked;
      var allowed_categories = [];
      if (just_public) {
        $("input.filter.public").each(function(i, element) {
          if (element.checked)
            allowed_categories.push($(this).next("span.category").html().toLowerCase());
        });
      }
      
      var specific_ward = $("#id_wards").val();
      
      var keyword = $("#mapsearch_value").val();

      var event_id = $("#filter_event_id").val();
      
        
      // go through each marker and ensure it passes the test
      $.each(markers, function(i, marker) {
        var passed_commission;
        var passed_category;
        var passed_ward;
        var passed_keyword;
        var passed_event;
        
        // examine for commissioned status
        passed_commission = (!ensure_commissioned || (ensure_commissioned && marker.filters.commissioned));
        
        if (all_categories)
          passed_category = true;
        else if (just_museum)
          passed_category = (marker.filters.category == "museum");
        else if (just_gallery)
          passed_category = (marker.filters.category == "gallery");
        else if (just_market)
          passed_category = (marker.filters.category == "market");
        else if (just_public)
          passed_category = ($.inArray(marker.filters.category, allowed_categories) >= 0);
        else
          passed_category = false;
        
        passed_wards = !specific_ward || (specific_ward == marker.filters.ward);
        
        if (!keyword)
          passed_keyword = true;
        else {
          var pattern = new RegExp(keyword, "i");
          passed_keyword = (pattern.test(marker.filters.title) || pattern.test(marker.filters.artist));
        }

        if (!event_id)
          passed_event = true;
        else
          passed_event = (marker.filters.event_id == event_id);
        
        marker.setVisible(passed_commission && passed_category && passed_wards && passed_keyword && passed_event);
      });
    }
    
    $(function() {
      
      // filter checkboxes/radio/select widgets
      $("input.filter").click(recalculateFilter);
      $("select#id_wards").change(recalculateFilter);
      $("form#mapsearch_form").submit(function() {
        $("input#mapsearch_value").val($("input#mapsearch").val());
        recalculateFilter();
        return false;
      });
      
      // hide/show links
      $(".hideFilter").click(
        function() {
          $("#filterForm").hide();
          $("#filterSettings").show();
          return false;
        }
      );
      $("#filterSettings a").click(
        function() {
          $("#filterSettings").hide();
          $("#filterForm").show();
          return false;
        }
      );
      

      $("li.event").each(function(i, elem) {
        var flickr_id = $(elem).data("flickr_id");
        var id = $(elem).data("id");

        Flickr.getThumbnail(flickr_id, "Small", function(thumbnail) {
          if (thumbnail)
            $("#event-" + id + " img").prop("src", thumbnail.source);
        });
      });

      $("li.event a").click(function() {
        selectEvent($(this).parents("li").data("slug"));
        return false;
      });

      $("#allArt_link").click(function() {
        selectAllArt();
        return false;
      });

      $("ul.main_nav li#events_link").click(function() {
        $("#eventsWrapper").toggle();
        return false;
      });

      $("#filterForm #events_filter_toggle").click(function() {
        $("#eventsWrapper").toggle();
        return false;
      });

    });
    
    function clearWindow() {
      if (currentInfoWindow) currentInfoWindow.close();
    }
  </script>
  
<% end %>


<div id="mapContainer" >

  <!-- the #filterForm will switch its "allArt" class to "event" when an event is selected -->  
  <div id="filterForm" class="allArt">

  	<div class="mapTitle allArt">
  		<h3>All Art</h3>
  	</div>

    <div class="mapTitle event">
      <h3></h3>
      <span class="dateRange"></span>
    </div>

    <a class="hideFilter" href="#">Hide</a>

    <p class="description event">
      
    </p>

  	<form action="." method="get" onsubmit="return false">
      <fieldset class="allArt">
        <legend>Look for</legend>
      
        <div class="clear"></div>
      
        <!-- hidden filter for event ID -->
        <input type="hidden" class="filter hidden" id="filter_event_id" name="event_id" />

        <ul id="categoryScroll">
          <li>
            <label>
              <input class="filter radio" type="radio" name="category" id="filter_category_all" checked />
              <span>all</span>
            </label>
          </li>
      
          <li>
            <label>
              <input class="filter category radio" name="category" type="radio" id="filter_category_museum" />
              <span>museum</span>
            </label>
          </li>
        
          <li>
            <label>
              <input class="filter category radio" name="category" type="radio" id="filter_category_gallery" />
              <span>gallery</span>
            </label>
          </li>

          <li>
            <label>
              <input class="filter category radio" name="category" type="radio" id="filter_category_market" />
              <span>market</span>
            </label>
          </li>

          <li>
            <a href="#" id="events_filter_toggle">Events</a>
          </li>
        
          <li>
            <label>
              <input class="filter radio" name="category" type="radio" id="filter_category_public" />
              <span>public</span>
            </label>
          
            <div class="clear"></div>
          
            <ul id="publicSubset">
              <% categories.reject {|c| ["Museum", "Gallery", "Market"].include? c}.each do |category| %>
                <li>
                  <label>
                    <input class="filter checkbox category public" name="public_category" type="checkbox" checked />
                    <span class="category"><%= category.downcase %></span>
                  </label>
                </li>
              <% end %>
            </ul>
          
          </li>
        </ul>
      </fieldset>
    
      <fieldset>
        <legend>Funded By</legend>
        <div class="clear"></div>

        <ul id="commissionedScroll">
          <li>
            <label>
              <input class="filter commissioned radio" type="radio" name="commissioned" id="filter_commissioned_all" checked />
              <span>anyone</span>
            </label>
          </li>
          <li>
            <label>
              <input class="filter radio" type="radio" name="commissioned" id="filter_commissioned_only" />
              <span>the District</span>
            </label>
          </li>
        </ul>
      </fieldset>
    
      <fieldset>
        <legend>Located In</legend>
        <ul id="location">
          <li> 
            <label>Zoom to an address or zip</label>
            <input type="text" id="id_location" />
            <button type="submit" class="searchBtn">
                <span>Go</span>
            </button>
          </li>
        
          <li class="allArt">
            <label for="id_wards">DC Wards</label> 
            <select id="id_wards" name="wards">
                <option selected="selected" value="">---------</option>
                <option value="1">Ward 1</option>
                <option value="2">Ward 2</option>
                <option value="3">Ward 3</option>
                <option value="4">Ward 4</option>
                <option value="5">Ward 5</option>
                <option value="6">Ward 6</option>
                <option value="7">Ward 7</option>
                <option value="8">Ward 8</option>
            </select>
          </li>
        </ul>

      </fieldset>

    </form>
    <div id="filterSettings">
  	  <img src="" alt="" /><a href="">filters</a>
    </div>
	</div>

	<div id="eventsWrapper">
		<div id="eventsMenu">
			<!--<a class="moreEvents left"></a>-->
			<ul>
        <% @events.each do |event| %>
  				<li class="event" 
            id="event-<%= event.id %>"
            data-flickr_id="<%= event.arts.first.photos.first.flickr_id %>"
            data-id="<%= event.id %>"
            data-slug="<%= event.slug %>"
            >
  					<a href="#">
              <img width="109" height="60" alt="<%= event.name %>">
            </a>
  					<a href="#"><h4><%= event.name %></h4></a>
  					<div class="dateRange">
              <%= just_day event.starts_at %> - <%= just_day event.ends_at %>
            </div>
  				</li>
        <% end %>
			</ul>

			<!-- <a class="moreEvents right"></a> -->
			<div class="clear"></div>
		</div>
	</div>
  
  <div id="map_canvas" style="width: 100%; height: 100%"></div>
  
</div>
