<% content_for :body_class, "home" %>
<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=geoLocate"></script>
<% end %>
<% content_for :tabs do %>
  <li id="allArt_link" class="map active">
    <a id="toggle_view" href="#">Map</a>
  </li>
  <!-- only used on map page, to keep current search value even if the user idly changes what's in the field without hitting the form -->
  <input id="mapsearch_value" type="hidden" value="" />
<% end %>

<% content_for :head do %>

  <script type="text/javascript">
    var event_description_max = 725;

    var slider;

    var map;
    var geocoder;

    var arts = [];
    var events = {};
    var icons = {};

    var searchMarker;
    var searchInfoWindow;

    var markers = [];

    var currentInfoWindow;

    var current_view = 'list';

    <% @events.each do |event| %>
      events["<%= event.id %>"] = {
        id: "<%= event.id %>",
        slug: "<%= event.slug %>",
        name: "<%= escape_javascript event.name %>",
        description: "<%= escape_javascript event.description %>",
        starts_at: "<%= just_day event.starts_at %>",
        ends_at: "<%= just_day event.ends_at %>",
        icon_thumbnail: "<%= event.icon.url(:thumbnail) %>",
        icon_small: "<%= event.icon.url(:small) %>"
      };
    <% end %>

    <% @arts.each do |art| %>
      arts.push({
        id: "<%= art.to_param %>",
        event_id: "<%= art.event_id %>",
        <% if @events.include?(art.event) %>
        event_name: events["<%= art.event_id %>"].name,
        event_slug: events["<%= art.event_id %>"].slug,
        event_icon_thumbnail: events["<%= art.event_id %>"].icon_thumbnail,
        event_icon_small: events["<%= art.event_id %>"].icon_small,
        <% end %>
        title: "<%= escape_javascript art.title %>",
        category: <%= raw(art.category.map{|x| x.downcase}) %>,
        neighborhood: "<%= escape_javascript art.neighborhood %>",
        ward: "<%= art.ward %>",
        popular: <%= art.popular? %>,
        description: "<%= escape_javascript art.description %>",
        artist: "<%= escape_javascript art.artist %>",
        year: "<%= escape_javascript art.year.to_s %>",
        timeline_year: <%= art.timeline_year %>,
        map_thumb: "<%= art.primary_photo ? art.primary_photo.image(:small) : "" %>",
        commissioned: <%= art.commissioned? %>,
        latitude: <%= art.latitude || 0 %>,
        longitude: <%= art.longitude || 0 %>
      });
    <% end %>

    function geoLocate(){
      if (navigator.geolocation)
      {
        navigator.geolocation.getCurrentPosition(loadMap, loadMap);
      }
    }

    function loadMap(position) {
      var center;
      var zoom = 12;
      if (position.hasOwnProperty('message'))
      {
        center = new google.maps.LatLng(41.623184026741214, -91.962563225);
        zoom = 4;
      }
      else{
        center = new google.maps.LatLng(position.coords.latitude,position.coords.longitude)
      }

      map = new google.maps.Map(document.getElementById("map_canvas"), {
        center: center,
        zoom: zoom,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT
        }
      });


      // icon types
      icons.art = new google.maps.MarkerImage("/images/pins/red.png");
      icons.venue = new google.maps.MarkerImage("/images/pins/teal.png");

      $.each(arts, function(i, art) {
        var marker = markerFor(art, map);

        marker.filters = {
          category: (art.category || ["Unknown"]),
          commissioned: art.commissioned,
          ward: art.ward,
          title: art.title,
          artist: art.artist,
          event_id: art.event_id,
          timeline_year: art.timeline_year
        };
        markers.push(marker);

        marker.setMap(map);
      });

      geocoder = new google.maps.Geocoder();
      $("ul#location button.searchBtn").click(function() {
        var query = $("ul#location #id_location").val();
        geocoder.geocode({
          address: query,
          region: "us"
        }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setZoom(15);

            searchMarker = new google.maps.Marker({position: results[0].geometry.location});
            searchMarker.setMap(map);

            map.panTo(results[0].geometry.location);
          }
        });
      });

      postLoadMap();
    }

    function markerFor(art, map) {
      var location = new google.maps.LatLng(art.latitude, art.longitude);

      var description = art.description;
      if (description.length > 210)
        description = description.substr(0, 205) + "..."

      var html = '<div class="mapBubble">' +
        '<h4>' + art.title + '</h4>' +
    	'<div class="bubbleMetaData">' +
            '<dl>' +

                '<dt>Artist</dt>' +
                '<dd class="artist">' + (art.artist || "Unknown") + '</dd>' +

                '<dt>Erected</dt>' +
                '<dd class="year">- ' + (art.year || "Unknown") + '</dd>' +

            '</dl>' +
        '</div>' +
        '<a class="bubbleimg" id="bubbleimg-' + art.id + '" style="background-image: url(' + art.map_thumb + ')" href="/arts/' + art.id + '" target="_blank">Image</a>' +
		    '<p>' + (description || "(no description)") + '<a class="moreInfo" href="/arts/' + art.id + '" target="_blank">More Info</a></p>' +

      '</div>';

      var icon;
      var isVenue = ($.inArray('museum', art.category)>=0 || $.inArray('gallery', art.category)>=0 || $.inArray('market', art.category)>=0);

      if (isVenue)
        icon = icons.venue;
      else
        icon = icons.art;

      var marker = new google.maps.Marker({
        position: location,
        icon: icon,
        title: art.title
      });

      google.maps.event.addListener(marker, "click", function() {
        clearWindow();

        currentInfoWindow = new google.maps.InfoWindow({content: html});
        currentInfoWindow.open(map, marker);
      });

      return marker;
    }

    function selectAllArt() {
      resetFilter();
      $("#eventsWrapper").hide();
      $("#filterForm").removeClass("event").addClass("allArt");
      $("ul.main_nav li").removeClass("active");
      $("ul.main_nav li#allArt_link").addClass("active");
      recalculateFilter();
    }

    function selectEvent(id) {
      resetFilter();
      $("#eventsWrapper").hide();

      var event = events[id];;

      // populate the event details into the filter pane
      var container = $(".mapTitle.event");
      container.find("h3").html(event.name);
      container.find("span").html(event.starts_at + " - " + event.ends_at);
      var description = event.description;
      if (description.length > event_description_max)
        description = description.substr(0, (event_description_max - 5)) + "...";
      $("p.description.event").html(description);

      // switch the filter pane into event mode
      $("#filterForm").removeClass("allArt").addClass("event");
      $("ul.main_nav li").removeClass("active");
      $("ul.main_nav li#events_link").addClass("active");

      // set the event as a filter (hidden input field)
      $("#filter_event_id").val(event.id);

      recalculateFilter();
    }

    // reset filters in filter pane
    function resetFilter() {
      clearWindow();

      //$("#filter_commissioned_all").prop("checked", "checked");
      $("#filter_category_all").prop("checked", "checked");
      $("input.filter.public").prop("checked", "checked");
      $("#id_wards").val("");
      $("#filter_event_id").val("");

      // reset both the appearance (text field) and the hidden value
      $("#mapsearch_value").val("");
      $("#mapsearch").val("");

      // reset timeline handle in value and appearance
      $("#filter_timeline").val("-1");
      $(".handle").css("left", "100%");
    }

    function recalculateFilter() {
      clearWindow();

      // figure out commission filter
      var ensure_commissioned = false;
      /*
      if ($("#filter_commissioned_all")[0].checked)
        ensure_commissioned = false;
      else if ($("#filter_commissioned_only")[0].checked)
        ensure_commissioned = true;
      */

      //var all_categories = $("#filter_category_all")[0].checked;
      // var just_museum = $("#filter_category_museum")[0].checked;
      // var just_gallery = $("#filter_category_gallery")[0].checked;
      // var just_market = $("#filter_category_market")[0].checked;

      var just_public = true; //$("#filter_category_public")[0].checked;
      var allowed_categories = [];
      if (just_public) {
        $("input.filter.public").each(function(i, element) {
          if (element.checked)
            allowed_categories.push($(this).next("span.category").html());
        });
      }

      var specific_ward = $("#id_wards").val();

      var keyword = $("#mapsearch_value").val();

      var event_id = $("#filter_event_id").val();

      var timeline = parseInt($("#filter_timeline").val());


      // go through each marker and ensure it passes the test
      $.each(markers, function(i, marker) {
        var passed_commission;
        var passed_category;
        var passed_ward;
        var passed_keyword;
        var passed_event;
        var passed_timeline;

        // examine for commissioned status
        passed_commission = (!ensure_commissioned || (ensure_commissioned && marker.filters.commissioned));

        if (just_public)
          //passed_category = ($.inArray(marker.filters.category, allowed_categories) >= 0);
          passed_category = (getIntersect(marker.filters.category, allowed_categories).length >0);
        else
          passed_category = false;

        passed_wards = !specific_ward || (specific_ward == marker.filters.ward);

        if (!keyword)
          passed_keyword = true;
        else {
          var pattern = new RegExp(keyword, "i");
          passed_keyword = (pattern.test(marker.filters.title) || pattern.test(marker.filters.artist));
          
        }

        if (!event_id)
          passed_event = true;
        else
          passed_event = (marker.filters.event_id == event_id);

        if (timeline < 0)
          passed_timeline = true;
        else if (timeline == 0)
          passed_timeline = (marker.filters.timeline_year < 1910);
        else
          passed_timeline = ((marker.filters.timeline_year > timeline) && (marker.filters.timeline_year <= timeline + 10));

        marker.setVisible(passed_commission && passed_category && passed_keyword && passed_event && passed_timeline);
      });
    }

    // this has to be done after the map loads and the markers are already placed
    function postLoadMap() {
      // if the search is pre-populated on page load, perform the filter
      if ($("input#mapsearch").val())
        $("form#mapsearch_form").submit();

      <% if @event %>
        selectEvent("<%= @event.id %>");
      <% end %>
    }

    function toggle_view(){
      if (current_view == 'map'){
        current_view = 'list';
        $('#mapContainer').hide();
        $('#list_view').show();
        $('#toggle_view').text('Map');
        setup_isotope();
      }
      else{
        current_view = 'map';
        $('#toggle_view').text('List');
        $('#list_view').hide();
        $('#mapContainer').show();
        var center = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center);
      }
    }

    function getURLParameter(name) {
      return decodeURI(
          (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
      );
    }

    $(function() {
      $('#mapContainer').hide();

      if (getURLParameter('view') == 'map'){
        toggle_view();
      }

      // filter checkboxes/radio/select widgets
      $("input.filter").click(recalculateFilter);
      $("select#id_wards").change(recalculateFilter);

      // override how the form works on all the other pages
      $("form#mapsearch_form").submit(function() {
        $("input#mapsearch_value").val($("input#mapsearch").val());
        recalculateFilter();
        return false;
      });

      // hide/show links
      $(".hideFilter").click(
        function() {
          $("#filterForm").hide();
          $("#filterSettings").show();
          return false;
        }
      );
      $("#filterSettings a").click(
        function() {
          $("#filterSettings").hide();
          $("#filterForm").show();
          return false;
        }
      );


      $("li.event a").click(function() {
        selectEvent($(this).parents("li").data("id"));
        return false;
      });

      $("#allArt_link").click(function() {
        selectAllArt();
        return false;
      });

      $("ul.main_nav li#events_link").click(function() {
        $("#eventsWrapper").toggle();
        return false;
      });

      $("#filterForm #events_filter_toggle").click(function() {
        $("#eventsWrapper").toggle();
        return false;
      });

      $(".reset").click(function() {
        resetFilter();
        recalculateFilter();
        return false;
      })

      // turn on the slider
      slider = new Dragdealer('timeline', {
        x: 1.0,
        speed: 0,

        // debugging
        callback: function(x) {
          console.log("x: " + x);
        },

        animationCallback: function(x) {
          var currentSegment = $("#filter_timeline").val();
          var segment = getYearSegment(x);
          if (segment != currentSegment) {
            console.log("segment: " + segment);
            $("#filter_timeline").val(segment);
            recalculateFilter();
          }
        }
      });


    });

    // Get the intersection of 2 arrays
    function getIntersect(arr1, arr2) {
      var r = [], o = {}, l = arr2.length, i, v;
      for (i = 0; i < l; i++) {
          o[arr2[i]] = true;
      }
      l = arr1.length;
      for (i = 0; i < l; i++) {
          v = arr1[i];
          if (v in o) {
              r.push(v);
          }
      }
      return r;
    }

    function clearWindow() {
      if (currentInfoWindow) currentInfoWindow.close();
    }

    // values calculated empirically (by messing in Firebug)
    // definitely possible to rework this to make the steps even
    // and use snapping, needs design help
    function getYearSegment(x) {
      // 199 is:
      //    211px (offset of beginning of timeline to first tick)
      //    - 12px (half the width of the handle)
      // 24 is the width of the slider (1/2 deducted from both sides)

      var realHandleRange = $(".timeline").outerWidth() - 24;
      var fixedLeftColumn = 199; // pixels across the handle's range
      var fixedRightColumn = 90;
      var bottom = fixedLeftColumn / realHandleRange;
      var top = 1 - (fixedRightColumn / realHandleRange);
      var step = (top - bottom) / 10;

      // 0 for bottom, -1 for top, bottom year of 10-year range for all else
      if (x < bottom)
        return 0;
      else if (x < (bottom + (step * 1)))
        return 1910;
      else if (x < (bottom + (step * 2)))
        return 1920;
      else if (x < (bottom + (step * 3)))
        return 1930;
      else if (x < (bottom + (step * 4)))
        return 1940;
      else if (x < (bottom + (step * 5)))
        return 1950;
      else if (x < (bottom + (step * 6)))
        return 1960;
      else if (x < (bottom + (step * 7)))
        return 1970;
      else if (x < (bottom + (step * 8)))
        return 1980;
      else if (x < (bottom + (step * 9)))
        return 1990;
      else if (x < (bottom + (step * 10)))
        return 2000;
      else
        return -1;
    }

    function setup_isotope(){
      var $container = $('#art-list');

      $container.isotope({
        masonry: {
          layoutMode: 'fitColumns',
          columnWidth: 83
        },
        itemSelector : '.art',
        sortBy: 'visits',
        getSortData:{
          visits: function($elem){
            return parseInt($elem.find('.visits').text());
          },
          created_at: function($elem){
            return parseInt($elem.find('.created_at').text());
          }
        }
      });
      $('#filters a').click(function(){
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector });
        return false;
      });
      $('#sort-by a').click(function(){
        // get href attribute, minus the '#'
        var sortName = $(this).attr('href').slice(1);
        if(sortName == 'created_at'){
          $('#art-list').isotope({ sortBy : sortName, sortAscending : false });  
        }
        else{
          $('#art-list').isotope({ sortBy : sortName });  
        }
        
        return false;
      });
    }

    $(window).load(function(){
      $('#toggle_view').click(toggle_view);
      setup_isotope();
    });
    
  </script>

<% end %>

<div id="mapContainer" >

  <!-- the #filterForm will switch its "allArt" class to "event" when an event is selected -->
  <div id="filterForm" class="allArt">

  	<div class="mapTitle allArt">
  		<h3>All Art</h3>
  	</div>

    <div class="mapTitle event">
      <h3></h3>
      <span class="dateRange"></span>
    </div>

    <a class="hideFilter" href="#">Hide</a>

    <p class="description event">

    </p>

  	<form action="." method="get" onsubmit="return false">
      <fieldset class="allArt">
        <legend>Look for</legend>

        <div class="clear"></div>

        <!-- hidden filter for event ID -->
        <input type="hidden" class="filter hidden" id="filter_event_id" name="event_id" />

        <!-- hidden filter for timeline segment -->
        <input type="hidden" class="filter hidden" id="filter_timeline" name="timeline" value="-1"/>

        <ul id="categoryScroll">

          <li class="publicItem">

            <div class="clear"></div>

            <ul id="publicSubset">
              <% categories.each do |category| %>
                <li>
                  <label>
                    <input class="filter checkbox category public" name="public_category" type="checkbox" checked />
                    <span class="category"><%= category.downcase %></span>
                  </label>
                </li>
              <% end %>
            </ul>

          </li>
        </ul>
      </fieldset>

      <fieldset>
        <legend>Located In</legend>
        <ul id="location">
          <li>
            <label>Zoom to an address or zip</label>
            <input type="text" id="id_location" />
            <button type="submit" class="searchBtn">
                <span>Go</span>
            </button>
          </li>
        </ul>

      </fieldset>

    </form>

	</div>
	<div id="filterSettings">
		<a href=""><span class="icon"><img src="/images/settings.png" alt="" /></span> <span class="text">filters</span></a>

    </div>

	<div id="eventsWrapper">
		<div id="eventsMenu">
			<!--<a class="moreEvents left"></a>-->
			<ul>
        <% @events.each do |event| %>
  				<li class="event"
            id="event-<%= event.id %>"
            data-id="<%= event.id %>"
            data-slug="<%= event.slug %>"
            >
  					<a href="#">
              <img src="<%= event.icon :small %>" alt="<%= event.name %>">
            </a>
  					<a href="#"><h4><%= event.name %></h4></a>
  					<div class="dateRange">
              <%= just_day event.starts_at %> - <%= just_day event.ends_at %>
            </div>
  				</li>
        <% end %>
			</ul>

			<!-- <a class="moreEvents right"></a> -->
			<div class="clear"></div>
		</div>
	</div>

  <div id="map_canvas" style="width: 100%; height: 100%"></div>


</div>

<div id="list_view" >
  <%= render "arts/list" %>
</div>
