
<div id="art-list">
  <% @arts.each do |art| %>

    <% unless art.photos.empty? %>
      <% categories = art.category || [] %>
      <% classes = "#{categories.map{|x| x.downcase}.join(' ')} #{art.title.downcase.split.join('-')}" %>
      <% unless art.artist.nil? %>
        <%# classes = classes + art.artist.downcase.split.join('-') %>
      <% end %>
      <div class="art <%= classes %>">
        <a href="<%= art_path(art) %>">
          <img class="" src="<%= art.primary_photo.image :big %>"/>
        </a>
        <h3><%= link_to art.title, art %></h3>
       
        <%if known(art.artist).kind_of?(Array)%>
       
          <% known(art.artist).each do |a| %>
          <h4><%= a %></h4>
          <% end %>
        <%else%>
          <% if art.artist.blank? %>
            <h4>Unknown</h4>
          <%else%>
            <h4><%= art.artist %></h4>
          <%end%>
        <%end%>
        <small class="created_at" style="display:none;"><%= art.created_at.strftime("%Y%m%d%H%M") %></small>
        <small class="visits" style="display:none;"><%= art.total_visits %></small>
      </div>
    <% end %>
  <% end %>
</div>
