<div id="artListContainer">
<div id="filter-options">
	<ul id="sort-by">
		<li><a href="#created_at" >Recent</a></li>
		<li><a href="#visits" >Popular</a></li>
	</ul>
	<div id="filters">
		<select>
		  <option value="*">show all</a></option>
		  <option value=".architecture">Architecture</a></option>
		  <option value=".digital">Digital</a></option>
		  <option value=".drawing">Drawing</a></option>
		  <option value=".gallery">Gallery</a></option>
		  <option value=".graffiti">Graffiti</a></option>
		  <option value=".installation">Installation</a></option>
		  <option value=".interactive">Interactive</a></option>
		  <option value=".kinetic">Kinetic</a></option>
		  <option value==".lighting">Lighting Installation</a></option>
		  <option value=".market">Market</a></option>
		  <option value=".memorial">Memorial</a></option>
		  <option value=".mixed">Mixed</a></option>
		  <option value=".mosaic">Mosaic</a></option>
		  <option value=".mural">Mural</a></option>
		  <option value=".museum">Museum</a></option>
		  <option value=".painting">Painting</a></option>
		  <option value=".performance">Performance</a></option>
		  <option value=".paste">Paste</a></option>
		  <option value=".photograph">Photograph</a></option>
		  <option value=".print">Print</a></option>
		  <option value=".projection">Projection</a></option>
		  <option value=".sculpture">Sculpture</a></option>
		  <option value=".statue">Statue</a></option>
		  <option value=".stained">Stained Glass</a></option>
		  <option value=".temporary">Temporary</a></option>
		  <option value=".textile">Textile</a></option>
		  <option value=".video">Video</a></option>
		</select>
	</div>
	<div class="clear"></div>
</div>

<div id="art-list" >
  <% @arts.each do |art| %>
    <% unless art.photos.empty? %>
      <% categories = art.category || [] %>
      <% classes = "#{art.category.map{|x| x.downcase}.join(' ')} #{art.title.downcase.split.join('-')}" %>
      <% unless art.artist.nil? %>
      	<% classes = classes + art.artist.downcase.split.join('-') %>
     	<% end %>
 			<div class="art <%= classes %>">
        <img src="<%= art.primary_photo.image :big %>"/>
        <h3><%= link_to art.title, art %></h3>
        <h4><%= known(art.artist) %></h4>
        <small class="created_at" style="display:none;"><%= art.created_at.strftime("%Y%m%d%H%M") %></small>
        <small class="visits" style="display:none;"><%= art.total_visits %></small>
      </div>
    <% end %>
  <% end %>
</div>
</div>
