<%#debugger%>
<%live_url = (controller_name == 'arts') ? '' : '/'+controller_name+'/'+params[:id] %>
<% content_for :tabs do %>
  <li id="allArt_link" class="map active">
    <%= link_to "Map", map_path %>
  </li>
  <!-- only used on map page, to keep current search value even if the user idly changes what's in the field without hitting the form -->
  <input id="mapsearch_value" type="hidden" value="" />
<% end %>

<div id="artListContainer">


<div id="filter-options">
  <ul id="sort-by">
    <li><a href='<%=live_url%>/' class="current" id="recent">Recent</a></li>
    <li><a href="<%=live_url%>/?sort=popular" id="popular">Popular</a></li>
  </ul>
  <%if controller_name == 'arts'%>
  <div id="filters">
 <!--  <form method="get" action="/" id="filter-form"> -->
    <b style="margin: 5px;" >TAGS</b>
    <%= select_tag "tag", options_for_select((Tag.all.collect(&:name)).sort_by!{ |e| e.downcase }), {prompt: "all"}%>
    <%= select_tag "category", options_for_select(['all']+categories)%>

   <!--  <b style="margin: 5px;" >CATEGORIES</b>
    <select name="filter">
      <option value="">show all</option>
      <option value="architecture">Architecture</option>
      <option value="digital">Digital</option>
      <option value="drawing">Drawing</option>
      <option value="gallery">Gallery</option>
      <option value="graffiti">Graffiti</option>
      <option value="installation">Installation</option>
      <option value="interactive">Interactive</option>
      <option value="kinetic">Kinetic</option>
      <option value="lighting">Lighting Installation</option>
      <option value="market">Market</option>
      <option value="memorial">Memorial</option>
      <option value="mixed">Mixed</option>
      <option value="mosaic">Mosaic</option>
      <option value="mural">Mural</option>
      <option value="museum">Museum</option>
      <option value="painting">Painting</option>
      <option value="performance">Performance</option>
      <option value="paste">Paste</option>
      <option value="photograph">Photograph</option>
      <option value="print">Print</option>
      <option value="projection">Projection</option>
      <option value="sculpture">Sculpture</option>
      <option value="statue">Statue</option>
      <option value="stained">Stained Glass</option>
      <option value="temporary">Temporary</option>
      <option value="textile">Textile</option>
      <option value="video">Video</option>
    </select> -->
    <input id="sort-value" type="hidden" name="sort" value="" />
    <br>
    <button class="category_submit" style="float: right; margin-top: 5px;" >Filter</button>
    <!-- </form> -->
  </div>
  <%end%>
  <div class="clear"></div>
</div>
<div id="filter_category">
  <%=render '/arts/filter_category'%>
</div> 


</div>

<%= paginate @arts %>

<script>
  $(document).on('click', '.category_submit', function(){
    var category=$('#category').val();
    var tag=$('#tag').val();
    var sort=$('#sort-value').val();

    $.ajax({
      method: 'GET',
      url: '/arts/filter_category',
      data: {category: category, tag: tag, sort: sort },
      success: function(){   
        var $container = $('#art-list');
        $container.isotope({
          itemSelector : '.art',
          sortBy: 'created_at'
        });
        $('#art-list').isotope({ sortBy : 'created_at', sortAscending : true});
      }
    });    
  });

  function setup_isotope(){
    var $container = $('#art-list');

    $container.isotope({
      itemSelector : '.art',
      sortBy: 'created_at'
    });


    // Infinite Scroll setup; not working right
    // $container.infinitescroll({
    //   navSelector  : 'nav.pagination',    // selector for the paged navigation
    //   nextSelector : 'nav.pagination a[rel=next]',  // selector for the NEXT link (to page 2)
    //   itemSelector : '.art',     // selector for all items you'll retrieve
    //   loading: {
    //       finishedMsg: 'No more pages to load.',
    //       img: 'http://i.imgur.com/qkKy8.gif'
    //     }
    //   },
    //   // call Isotope as a callback
    //   function( newElements ) {
    //     $container.isotope('insert', $(newElements));
    //   }
    // );

    // $('#filters a').click(function(){
    //   var selector = $(this).attr('data-filter');
    //   $container.isotope({ filter: selector });
    //   return false;
    // });

    $('#art-list').isotope({ sortBy : 'created_at', sortAscending : true});
  }

  $(window).load(function(){
    
    if (window.location.search.replace( "?", "").split("&").indexOf("sort=popular") != -1){
      $('#recent').removeClass("current");
      $('#popular').addClass("current");
      $('#sort-value').val('popular');
    }
    // $('#recent').click(function(){
    //   var filter = getParameterByName('filter');
    //   window.location = '/?filter=' + filter;
    //   return false;

    // })
    // $('#popular').click(function(){
    //   var filter = getParameterByName('filter');
    //   window.location = '/?sort=popular&filter=' + filter;
    //   return false;
    // })

    setup_isotope();
  });

  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

</script>
