<% content_for :tabs do %>
  <li id="allArt_link" class="map active">
    <%= link_to "Map", map_path %>
  </li>
  <!-- only used on map page, to keep current search value even if the user idly changes what's in the field without hitting the form -->
  <input id="mapsearch_value" type="hidden" value="" />
<% end %>

<script>
function setup_isotope(){
  var $container = $('#art-list');

  $container.isotope({
    masonry: {
      layoutMode: 'fitColumns',
      columnWidth: 83
    },
    itemSelector : '.art',
    sortBy: 'created_at',
    getSortData:{
      visits: function($elem){
        return parseInt($elem.find('.visits').text());
      },
      created_at: function($elem){
        return parseInt($elem.find('.created_at').text());
      }
    }
  });
  $('#filters a').click(function(){
    var selector = $(this).attr('data-filter');
    $container.isotope({ filter: selector });
    return false;
  });
  $('#sort-by a').click(function(){
    // get href attribute, minus the '#'
    var sortName = $(this).attr('href').slice(1);
    if(sortName == 'created_at'){
      $('#art-list').isotope({ sortBy : sortName, sortAscending : false });  
    }
    else{
      $('#art-list').isotope({ sortBy : sortName });  
    }
    
    return false;
  });
  $('#art-list').isotope({ sortBy : 'created_at', sortAscending : false});
  }

  $(window).load(function(){
      setup_isotope();
  });

</script>

<div id="artListContainer">
<div id="filter-options">
	<ul id="sort-by">
		<li><a href="#created_at" class="current">Recent</a></li>
		<li><a href="#visits" >Popular</a></li>
	</ul>
	<div id="filters">
		<select>
		  <option value="*">show all</option>
		  <option value=".architecture">Architecture</option>
		  <option value=".digital">Digital</option>
		  <option value=".drawing">Drawing</option>
		  <option value=".gallery">Gallery</option>
		  <option value=".graffiti">Graffiti</option>
		  <option value=".installation">Installation</option>
		  <option value=".interactive">Interactive</option>
		  <option value=".kinetic">Kinetic</option>
		  <option value=".lighting">Lighting Installation</option>
		  <option value=".market">Market</option>
		  <option value=".memorial">Memorial</option>
		  <option value=".mixed">Mixed</option>
		  <option value=".mosaic">Mosaic</option>
		  <option value=".mural">Mural</option>
		  <option value=".museum">Museum</option>
		  <option value=".painting">Painting</option>
		  <option value=".performance">Performance</option>
		  <option value=".paste">Paste</option>
		  <option value=".photograph">Photograph</option>
		  <option value=".print">Print</option>
		  <option value=".projection">Projection</option>
		  <option value=".sculpture">Sculpture</option>
		  <option value=".statue">Statue</option>
		  <option value=".stained">Stained Glass</option>
		  <option value=".temporary">Temporary</option>
		  <option value=".textile">Textile</option>
		  <option value=".video">Video</option>
		</select>
	</div>
	<div class="clear"></div>
</div>

<div id="art-list" >
  <% @arts.each do |art| %>
    <% unless art.photos.empty? %>
      <% categories = art.category || [] %>
      <% classes = "#{categories.map{|x| x.downcase}.join(' ')} #{art.title.downcase.split.join('-')}" %>
      <% unless art.artist.nil? %>
      	<% classes = classes + art.artist.downcase.split.join('-') %>
     	<% end %>
 			<div class="art <%= classes %>">
        <a href="<%= art_path(art) %>"><img class="lazy" src="grey.gif" data-original="<%= art.primary_photo.image :big %>"/></a>
        <h3><%= link_to art.title, art %></h3>
        <h4><%= known(art.artist) %></h4>
        <small class="created_at" style="display:none;"><%= art.created_at.strftime("%Y%m%d%H%M") %></small>
        <small class="visits" style="display:none;"><%= art.total_visits %></small>
      </div>
    <% end %>
  <% end %>
</div>
</div>
