<%#debugger%>
<%live_url = (controller_name == 'arts') ? '' : '/'+controller_name+'/'+params[:id] %>
<% content_for :tabs do %>
  <li id="allArt_link" class="map active">
    <%= link_to "Map", map_path %>
  </li>
  <!-- only used on map page, to keep current search value even if the user idly changes what's in the field without hitting the form -->
  <input id="mapsearch_value" type="hidden" value="" />
<% end %>

<div id="artListContainer"><div style=" text-align:center">
<h3>
<span class="y_count timer_p"></span>&nbsp;Photos<span style="margin:0px 150px;">
<span class="r_count timer_a"></span>&nbsp;Artworks</span>
<span class="b_count timer_c"></span>&nbsp;Countries</h3>

<script type="text/javascript">
  (function($) {
    $.fn.countTo = function(options) {
        // merge the default plugin settings with the custom options
        options = $.extend({}, $.fn.countTo.defaults, options || {});

        // how many times to update the value, and how much to increment the value on each update
        var loops = Math.ceil(options.speed / options.refreshInterval),
            increment = (options.to - options.from) / loops;

        return $(this).each(function() {
            var _this = this,
                loopCount = 0,
                value = options.from,
                interval = setInterval(updateTimer, options.refreshInterval);

            function updateTimer() {
                value += increment;
                loopCount++;
                $(_this).html(value.toFixed(options.decimals));

                if (typeof(options.onUpdate) == 'function') {
                    options.onUpdate.call(_this, value);
                }

                if (loopCount >= loops) {
                    clearInterval(interval);
                    value = options.to;

                    if (typeof(options.onComplete) == 'function') {
                        options.onComplete.call(_this, value);
                    }
                }
            }
        });
    };

    $.fn.countTo.defaults = {
        from: 0,  // the number the element should start at
        to: 100,  // the number the element should end at
        speed: 1000,  // how long it should take to count between the target numbers
        refreshInterval: 100,  // how often the element should be updated
        decimals: 0,  // the number of decimal places to show
        onUpdate: null,  // callback method for every time the element is updated,
        onComplete: null,  // callback method for when the element finishes updating
    };
})(jQuery);

jQuery(function($) {
        $('.timer_p').countTo({
            from: 0,
            to: <%=@photos_count%>,
            speed: 3000,
            refreshInterval: 50,
            onComplete: function(value) {
                console.debug(this);
            }
        });
    });
jQuery(function($) {
        $('.timer_a').countTo({
            from: 0,
            to: <%=@artworks_count%>,
            speed: 3000,
            refreshInterval: 50,
            onComplete: function(value) {
                console.debug(this);
            }
        });
    });
jQuery(function($) {
        $('.timer_c').countTo({
            from: 0,
            to: <%=@countries_count%>,
            speed: 3000,
            refreshInterval: 50,
            onComplete: function(value) {
                console.debug(this);
            }
        });
    });
</script>

</div>

<div id="filter-options">
  <ul id="sort-by">
    <li><a href='<%=live_url%>/' class="current" id="recent">Recent</a></li>
    <li><a href="<%=live_url%>/?sort=popular" id="popular">Popular</a></li>
  </ul>
  <%if controller_name == 'arts'%>
  <div id="filters">
  <form method="get" action="/" id="filter-form">
    <b style="margin: 5px;" >TAGS</b>
    <%= select_tag "tag_filter", options_for_select((['All']+Tag.all.collect(&:name)).sort)%>
    
    <b style="margin: 5px;" >CATEGORIES</b>
    <select name="filter">
      <option value="">show all</option>
      <option value="architecture">Architecture</option>
      <option value="digital">Digital</option>
      <option value="drawing">Drawing</option>
      <option value="gallery">Gallery</option>
      <option value="graffiti">Graffiti</option>
      <option value="installation">Installation</option>
      <option value="interactive">Interactive</option>
      <option value="kinetic">Kinetic</option>
      <option value="lighting">Lighting Installation</option>
      <option value="market">Market</option>
      <option value="memorial">Memorial</option>
      <option value="mixed">Mixed</option>
      <option value="mosaic">Mosaic</option>
      <option value="mural">Mural</option>
      <option value="museum">Museum</option>
      <option value="painting">Painting</option>
      <option value="performance">Performance</option>
      <option value="paste">Paste</option>
      <option value="photograph">Photograph</option>
      <option value="print">Print</option>
      <option value="projection">Projection</option>
      <option value="sculpture">Sculpture</option>
      <option value="statue">Statue</option>
      <option value="stained">Stained Glass</option>
      <option value="temporary">Temporary</option>
      <option value="textile">Textile</option>
      <option value="video">Video</option>
    </select>
    <input id="sort-value" type="hidden" name="sort" value="" />
    <br>
    <button class="submit" style="float: right; margin-top: 5px;" >Filter</button>
    </form>
  </div>
  <%end%>
  <div class="clear"></div>
</div>

<div id="art-list" >
  <% @arts.each do |art| %>
    <% unless art.photos.empty? %>
      <% categories = art.category || [] %>
      <% classes = "#{categories.map{|x| x.downcase}.join(' ')} #{art.title.downcase.split.join('-')}" %>
      <% unless art.artist.nil? %>
        <%# classes = classes + art.artist.downcase.split.join('-') %>
      <% end %>
      <div class="art <%= classes %>">
        <a href="<%= art_path(art) %>">
          <img class="" src="<%= art.primary_photo.image :big %>"/>
        </a>
        <h3><%= link_to art.title, art %></h3>
        <%if known(art.artist).kind_of?(Array)%>
          <% known(art.artist).each do |a| %>
          <h4><%= a %></h4>
          <% end %>
        <%else%>
        <h4><%= known(art.artist) %></h4>
        <%end%>
        
        <small class="created_at" style="display:none;"><%= art.created_at.strftime("%Y%m%d%H%M") %></small>
        <small class="visits" style="display:none;"><%= art.total_visits %></small>
      </div>
    <% end %>
  <% end %>
</div>
</div>

<%= paginate @arts %>

<script>
  function setup_isotope(){
    var $container = $('#art-list');

    $container.isotope({
      itemSelector : '.art',
      sortBy: 'created_at'
    });


    // Infinite Scroll setup; not working right
    // $container.infinitescroll({
    //   navSelector  : 'nav.pagination',    // selector for the paged navigation
    //   nextSelector : 'nav.pagination a[rel=next]',  // selector for the NEXT link (to page 2)
    //   itemSelector : '.art',     // selector for all items you'll retrieve
    //   loading: {
    //       finishedMsg: 'No more pages to load.',
    //       img: 'http://i.imgur.com/qkKy8.gif'
    //     }
    //   },
    //   // call Isotope as a callback
    //   function( newElements ) {
    //     $container.isotope('insert', $(newElements));
    //   }
    // );

    // $('#filters a').click(function(){
    //   var selector = $(this).attr('data-filter');
    //   $container.isotope({ filter: selector });
    //   return false;
    // });
    $('#art-list').isotope({ sortBy : 'created_at', sortAscending : true});
  }

  $(window).load(function(){
    if (window.location.search.replace( "?", "").split("&").indexOf("sort=popular") != -1){
      $('#recent').removeClass("current");
      $('#popular').addClass("current");
      $('#sort-value').val('popular');
    }
    // $('#recent').click(function(){
    //   var filter = getParameterByName('filter');
    //   window.location = '/?filter=' + filter;
    //   return false;

    // })
    // $('#popular').click(function(){
    //   var filter = getParameterByName('filter');
    //   window.location = '/?sort=popular&filter=' + filter;
    //   return false;
    // })

    setup_isotope();
  });

  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

</script>
