<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
  $('#art_category').chosen({allow_single_deselect:true});
  </script>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">

    var slide_position = 0;
    var map;
    var marker;

    function next_slide(){
      slide_position = slide_position + 1;
      update_slide();
    }

    function back_slide(){
      if (slide_position > 0){
        slide_position = slide_position - 1;
      }
      update_slide();
    }

    function update_slide(){
      if (slide_position == 0){
        // first slide
        $('#last_slide').hide();
        $('#map_canvas').hide();
        $('#first_slide').show();
        $('#art_photo').show();
      }
      else{
        // last slide
        $('#first_slide').hide();
        $('#art_photo').hide();
        $('#last_slide').show();
        $('#map_canvas').show();
        var center = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center);
      }

    }

    $(document).ready(function() {
      $('#last_slide').hide();
      $('#map_canvas').hide();
      $('#next_slide').click(function(){
        next_slide();
      });

      $('#back_slide').click(function(){
        back_slide();
      });
      $("#art_commissioned_by").typeahead({
        minLength: 1,
        source: function(query, process) {
          $.get('/autocomplete_commissioners.json', { query: query}, function(data) {
            process(data);
          });
        }
      });
    });
    function geoLocate(){
      if (navigator.geolocation)
      {
        navigator.geolocation.getCurrentPosition(updateMap, geoError);
      }
      else{
        geoError();
      }
    }

    // Firefox workaround
    function geoError(error){
      // Do nothing
    }

    function updateMap(position){
      var center = new google.maps.LatLng(position.coords.latitude,position.coords.longitude)
      map.setCenter(center);
      map.setZoom(12);
    }

    function loadMaps() {
      var center;
      var zoom = 4;
      center = new google.maps.LatLng(41.623184026741214, -91.962563225);
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        center: center,
        zoom: zoom,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT
        }
      });

      google.maps.event.addListener(map, "click", function(event) {
        $("input#art_latitude").val(event.latLng.lat());
        $("input#art_longitude").val(event.latLng.lng());
        marker.setPosition(event.latLng);
        marker.setMap(map);
      });

    }

    $(function() {
      var lat, lng;
      lat = $("input#art_latitude").val();
      lng = $("input#art_longitude").val();
      if (lat == "")
        $("input#art_latitude").val("Click on Map");
      if (lng == "")
        $("input#art_longitude").val("Click on Map");
    });

    $(window).load(function(){
      loadMaps();
      //geoLocate();
      var lat, lng;
      lat = $("input#art_latitude").val();
      lng = $("input#art_longitude").val();
      marker = new google.maps.Marker({position: map.getCenter()});
      if (lat != "Click on Map" & lng != "Click on Map"){
        var center = new google.maps.LatLng(lat,lng);
        marker = new google.maps.Marker({position: center});
        marker.setMap(map);
        updateMap({coords: {latitude: lat, longitude: lng}})
      }
      else{
        geoLocate();
      }
    });
  </script>
<% end %>

<div id="pageMain" class="addNewArt">
  <div id="fullColumn">
    <div id="titleContent">
      <h2 class="withSubtext">Add New Art</h2>
    </div>
  </div>


  <div id="ltColumn">
	<%= render :partial => "layouts/flash", :locals => {:flash => flash} %>

    <% if @art.errors.delete(:location).present? %>
      <div class="errors">
        Please click on the map to choose a latitude or longitude, or enter an address.
      </div>
    <% end %>

    <% if @art.errors.delete(:geocode).present? %>
      <div class="errors">
        We couldn't locate the address you gave. Please give a more specific address so that we can locate the art.
      </div>
    <% end %>

    <% @art.errors.full_messages.each do |msg| %>
      <div class="errors">
        <%= msg %>
      </div>
    <% end %>

    <%= form_for @art, :html => {:multipart => true, :id => "new_form"} do |f| %>
      <ul class="new-art">
        <li>
          If you don't know something, leave it blank. For unknown titles, enter "Unknown" followed by the nearest location.
        </li>
        <li>
          <span class="small blue"><em><sup>*</sup> = required</em> </span>
        </li>

        <div id="first_slide">
          <li>
            <label for="art_category">category</label>
            <%= f.select :category, categories, {}, {:multiple => true, :style => "width: 350px"}  %>
          </li>
          <li>
            <label for="art_title">title<sup>*</sup></label>
            <%= f.text_field :title %>
          </li>
          <li>
            <%= f.label :artist, "Artist/Founder(s)" %>
            <%= f.text_field :artist %>
          </li>
          <li>
            <%= f.label :year %>
            <%= f.text_field :year %>
          </li>
          <li>
            <%= f.label :website %>
            <%= f.text_field :website %>
          </li>
          <li>
            <%= f.label :commissioned_by %>
            <%= f.text_field :commissioned_by, {:autocomplete => "off"} %>
          </li>
          <li>
            <%= f.label :description, "Describe the art" %>
            <%= f.text_area :description %>
          </li>
          <li>
            <a id="next_slide" class="upload_link" href="#">Next</a>
          </li>
        </div>
        <div id="last_slide">
          <li>
            <a id="back_slide" href="#">Back</a>
          </li>
          <li>
            <%= f.label :location_description, "Describe the location" %>
            <%= f.text_area :location_description %>
          </li>          
          <img src="<%= @photo.image :big %>" id="art_photo">
    <div class="mapWrap">
      <div id="map_canvas"></div>
    </div>
          <li class="formModule">
            <% if @art.location.nil? %>
              <strong>Click on the map to enter the exact location, or fill in the approximate street address below.</strong><sup>*</sup>
            <% else %>
              <strong>Based on the geotag in your photo, we've created a location for your art! If this isn't right click on the map to enter the exact location, or fill in the approximate street address below.</strong><sup>*</sup>
            <% end %>
          </li>
          <li>
            <%= f.label :latitude %>
            <%= f.text_field :latitude %>
          </li>
          <li>
            <%= f.label :longitude %>
            <%= f.text_field :longitude %>
          </li>
          <li>
            <span class="or">or</span>
          </li>
          <li>
            <%= f.label :address %>
            <%= f.text_field :address %>
          </li>
          <li>
            <%= f.label :city %>
            <%= f.text_field :city %>
          </li>
          <li>
            <%= f.label :state %>
            <%= f.text_field :state %>
          </li>
          <li>
            <%= f.label :zip %>
            <%= f.text_field :zip %>
          </li>
          <%= hidden_field_tag :photo_id, @photo.id %>
          <li>
            <button class="submitBtn" name="submit" type="submit">
                <span>Submit</span>
            </button>
          </li>
        </div>


        </li>
      </ul>
    <% end %>
  </div>

  <div id="rtColumn">
    <img src="<%= @photo.image :big %>" id="art_photo">
  </div>

  <div class="clear"></div>

</div>
