<div class="addArtContainer">
	<% [:notice, :alert].each do |msg| %>
	  <% if flash[msg] %>
	    <div class="flash <%= msg %>">
	      <%= flash[msg] %>
	    </div>
	  <% end %>
	<% end %>
	<div id="titleContent">
		<h2>Step 1: Add a photo</h2>
	</div>
	<div id="ltColumn">
		<%= form_for(@photo, :url => create_art_photo_path) do |f| %>
				<%= f.label :image %>
				<%= f.file_field :image %><br />
				<%= f.label :attribution_text, "Photo by:" %>
				<%= f.text_field :attribution_text %><br />
				<%= f.label :attribution_url, "Photographer URL:" %>
				<%= f.text_field :attribution_url %><br />
                <%= f.submit 'Upload Photo' %>
		<% end %>
	</div>
</div>
