<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=loadMaps"></script>
<% end %>

<% content_for :head do %>
  <% @art.photos.each do |photo| %>
    <meta property="og:image" content="<%= domain_prefix %><%= photo.image :big %>" />
  <% end %>
  <meta property="og:description" content="<%= h known(@art.description) %>" />
  <meta property="og:title" content="<%= h @art.title %>" />
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-baac6862-67cd-e919-fdcf-156e46daa982"}); </script>
<% end %>

<script type="text/javascript">
  var latitude = <%= @art.latitude || 0 %>;
  var longitude = <%= @art.longitude || 0 %>;

  var address = "<%= @art.address %>";
  var city = "<%= @art.city %>";
  var state = "<%= @art.state %>";
  var zip = "<%= @art.zip %>";

  function loadMaps() {

    var location = new google.maps.LatLng(latitude, longitude);

    // regular map
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      zoom: 15,
      center: location,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false
    });

    var marker = new google.maps.Marker({
      position: location
    });
    marker.setMap(map);
  }

  $(function() {

    $("#edit").click(
      function() {
        $("#artworkMetaData").toggle();
        $("#edit_artworkMetaData").toggle();
        $(".callout").toggle();
        return false;
      }
    );

    $(".cancelBtn").click(
      function() {
        $("#artworkMetaData").show();
        $("#edit_artworkMetaData").hide();
        $(".callout").show();
        return false;
      }
    );

    <% if @submission.errors.any? %>
      // submission has errors, show the form
      $("#editInformation a").click();
    <% end %>

    <% if admin? %>
      $("div.admin_comment a").click(function() {
        var elem = $(this);
        var msg = elem.data("confirm");
        var url = elem.attr("href");

        if (confirm(msg)) {
          $.post(url, function() {
            location.href = "<%= art_url @art %>";
          });
        }
        return false;
      });
    <% end %>

    $(".overlay a.close").click(function() {
      $(this).parents(".overlay").hide();
      return false;
    });

    $("a#flagIt").click(function() {
      $(".flag.overlay").show();
      return false;
    });

    $("a.upload_link").click(function() {
      $(".addArt.overlay").show();
      return false;
    });

    // make popups disappear when you click outside them
    $(".overlay .fade.black").click(function() {
      $(this).parents(".overlay").hide();
    });

    // client-side validation on two popup forms
    $("form#flagForm").submit(function() {
      if (!$("#flag_text").val()) {
        $(this).parents(".overlay").find(".popupError").show();
        return false;
      }
      return true;
    });

    $("form#new_photo_form").submit(function() {
      if (!$("#new_photo").val()) {
        $(this).parents(".overlay").find(".popupError").show();
        return false;
      }
      return true;
    });

      $("li.thumbnail a").click(function () {
          $("a#artworkPhoto").attr("href", $(this).data("original_url"));
          $("a#artworkPhoto img").attr("src", $(this).data("big_url"));
          $(".photoAttribution").css("display", "none");
          var photo_id = $(this).data("id");
          $("div#" + photo_id).css("display", "inline");
          return false;
      });

  });
</script>

<div id="pageMain">
    <div id="titleContent">
      <h2 class="withSubtext withIcon">
        <%= @art.title %>
      </h2>

      <div class="share_toolbox">
        <span class='st_facebook' displayText='Facebook'></span>
        <span class='st_twitter' st_title="<%= h @art.title %>" displayText='Tweet'></span>
        <span class='st_pinterest' displayText='Pinterest'></span>
        <span class='st_googleplus' displayText='Google +1'></span>
      </div>

  	  <div class="clear"></div>
  		<div class="withLinks">
  		  <% if @art.website.present? %>
  	          <a><%= link_to "Visit website", @art.website %></a>
  	      <% end %>

  		  <a id="edit" href="#">Edit</a>
  		  <a id="flagIt" href="#">Flag this art</a>

        <% if admin? %>
            <%= link_to "Admin", admin_art_path(@art) %>
        <% end %>
  		</div>

      <div class="clear"></div>

    </div>

	<%= render :partial => "layouts/flash", :locals => {:flash => flash} %>


  <div id="ltColumn">
    <div class="module artdetails">

      <dl id="artworkMetaData">
        <dt><%= "Category".pluralize(@art.categories.count) %></dt>
        <dd>
          <ul>
            <% @art.categories.each do |cat| %>
              <li><%= cat.name %></li>
            <% end %>
          </ul>
        </dd>

        <dt><%= artist_type_for @art %></dt>
        <dd><%= known @art.artist %></dd>

        <dt>Year</dt>
        <dd><%= known @art.year %></dd>

        <dt>Location</dt>
        <dd><%= light_format known(@art.location_description) %></dd>

        <dt>Description</dt>
        <dd><%= light_format known(@art.description) %></dd>
      </dl>

      <%= form_for([@art, @submission], :url => submit_art_path(@art), :html => {:id => "edit_artworkMetaData", :style => "display: none"}) do |f| %>
        <ul>

          <li>
            <%= f.label :category %>
            <%= f.select :category, categories, {},{:multiple => true} %>
          </li>

          <li>
            <%= f.label :artist, "Artist(s)" %>
            <%= f.text_field :artist, {value: @art.artist} %>
          </li>

          <li>
            <%= f.label :year %>
            <%= f.text_field :year, {value: @art.year} %>
          </li>

          <li>
            <%= f.label :location_description, "Location" %>
            <%= f.text_area :location_description, {value: @art.location_description} %>
          </li>

          <li>
            <%= f.label :description %>
            <%= f.text_area :description, {value: @art.description} %>
          </li>

          <li>
            <button class="submitBtn" type="submit">
                <span>Submit</span>
            </button>
          </li>
          <li>
            <a class="cancelBtn buttonLink " href="#"><span>Cancel</span></a>
          </li>
        </ul>
      <% end %>
      <div class="clear"></div>

	  <div class="icons">
	  <% if @art.commissioned %>

        <% if @art.event %>
          <a href="/events/<%= @art.event.slug %>">
            <span
              id="eventIcon"
              title="Part of <%= escape_javascript @art.event.name %>"
              style="background-image: url(<%= @art.event.icon.url(:thumbnail) %>)"
              >
              Part of <%= @art.event.name %>
            </span>
          </a>
        <% end %>
        <% if @art.commissioned %>
          <a href="http://dcarts.dc.gov/DC/DCARTS/">
            <span id="commissionedIcon" title="Commissioned by the District">
              Commissioned by the city
            </span>
          </a>
        <% end %>
        <% if @art.popular? %>
		      <span id="popularIcon" title="Popular">
            Popular
          </span>
        <% end %>
      <% end %>
	  </div>
    </div>

    <% if admin? or @art.comments.approved.any? %>
      <div class="module" id="comments">
        <h3>Comments</h3>

        <ol>
          <% (admin? ? (@art.comments) : (@art.comments.approved)).asc(:created_at).each do |comment| %>
            <li>
              <div class="commentMetaData">
                <span class="commentName">
                  <% if comment.url.present? %>
                    <a href="<%= comment.url %>"><%= comment.name %></a>
                  <% else %>
                    <%= comment.name %>
                  <% end %>
                </span>

                <span class="entryDate">
                  <%= comment.created_at.strftime "%B %d, %Y" %>
                </span>

                <p>
                  <%= comment.text %>
                </p>
              </div>

              <% if admin? %>
                <div class="admin_comment">
                  <% if comment.approved? %>
                    <%= link_to "Unapprove", unapprove_admin_art_comment_path(@art, comment), "data-confirm" => "Unapprove this comment?" %>
                  <% else %>
                    <%= link_to "Approve", approve_admin_art_comment_path(@art, comment), "data-confirm" => "Approve this comment for display?" %>
                  <% end %>
                </div>
              <% end %>

              <div class="clear"></div>
            </li>
          <% end %>
        </ol>

      </div>
    <% end %>

    <div class="module">
      <h3>Leave a Comment</h3>

      <%= form_for([@art, @comment], :url => comment_art_path(@art)) do |f| %>
        <ul>
          <li>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </li>
          <li>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </li>
          <li>
            <%= f.label :url %>
            <%= f.text_field :url %>
          </li>
          <li>
            <%= f.label :text, "Comment" %>
            <%= f.text_area :text %>
          </li>
          <li>
            <button class="submitBtn" type="submit">
              <span>Submit</span>
            </button>
          </li>
        </ul>
      <% end %>

    </div>
  </div>

  <div id="rtColumn">
    <div class="module">

      <% if @art.primary_photo %>
          <a id="artworkPhoto" href="<%= @art.primary_photo.image :original %>">
            <img src="<%= @art.primary_photo.image :big %>"/>
          </a>
          <div class="photoAttribution tip" id="<%= @art.primary_photo.id.to_s %>" style="display:inline" ><%= t :photo_by %>
            <% if@art.primary_photo.attribution_url.blank? %>
                <%= @art.primary_photo.attribution_text %>
            <% else %>
                <a href="<%= @art.primary_photo.attribution_url %>"> <%= @art.primary_photo.attribution_text %> </a>
            <% end %>
          </div>
      <% end %>

      <% @other_photos.each do |photo| %>
          <div class="photoAttribution tip" id="<%= photo.id.to_s %>" style="display:none" ><%= t :photo_by %>
            <% if photo.attribution_url.blank? %>
                <%= photo.attribution_text %>
            <% else %>
                <a  href="<%= photo.attribution_url %>"> <%= photo.attribution_text %> </a>
            <% end %>
          </div>
      <% end %>
      <div id="artThumbs">
  			<!-- <a class="moreArt left"></a> -->
  			<div class="thumbsContainer">
  				<ul>
            <% ([@art.primary_photo] + @other_photos).each do |photo| %>
  	  				<li class="art thumbnail">
  	  					<a href="#"
                  data-big_url="<%= photo.image :big %>"
                  data-original_url="<%= photo.image :original %>"
                  data-id="<%=photo.id.to_s %>"
                  >
            			<img width="112" height="112" src="<%= photo.image :small %>" />
  						  </a>
  	  				</li>
            <% end %>
  				</ul>
  			</div>

  			<!-- <a class="moreArt right"></a> -->
  			<div class="clear"></div>
  		</div>

      <span class="tip">
        All photos uploaded are licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial license</a>.
      </span>
    </div>

    <div class="module">
      <h3>Have Another Photo? Upload it now!</h3>
	    <a class="upload_link" href="#">Upload</a>
    </div>

    <div id="map_canvas" class="smMap module"></div>
  </div>

  <div class="flag overlay">
	  <div class="clear"></div>
	  <div class="light white">

			<a class="close" href="#">Close</a>
			<div class="clear"></div>

			<h2>Something wrong with this page?</h2>
	    <small>Let us know and we'll look into it.</small>
			<form action="<%= flag_art_path(@art) %>" method="post" id="flagForm" class="normalForm">
        <input type="hidden" name="source" value="web" />
        <ul>
					<li>
						<label for="text"></label>
            <%= text_area_tag :text, "", :id => "flag_text" %>
					</li>
				  <li class="button">
            <button class="submitBtn" type="submit">
              <span>Submit</span>
            </button>
				  </li>
				</ul>
			</form>

			<div class="popupError">
				<small>Are you sure you don't want to let us know about something?</small>
			</div>

		</div>
		<div class="fade black"></div>
	</div>

	<div class="addArt overlay">
	  <div class="clear"></div>
	  <div class="light white">

			<a class="close" href="#">Close</a>
			<div class="clear"></div>

			<h2>Photo Upload</h2>
      <small>All photos uploaded are licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial license</a>.</small>

        <%= form_tag add_photo_art_path(@art), :multipart => true, :id => "new_photo_form" do %>
            <%= file_field_tag 'new_photo' %>
            <label for="photo_attribution_text"><%= t :photo_attribution_text %></label>
            <%= text_field_tag 'photo_attribution_text', "", :id => "photo_attribution_text" %>
            <label for="photo_attribution_url"><%= t :photo_attribution_url %></label>
            <%= text_field_tag 'photo_attribution_url', "", :id => "photo_attribution_url" %>
            <%= submit_tag "Submit", :class => "submitBtn" %>
        <% end %>

			<div class="popupError">
				<small>Whoops! You forgot to upload an image.</small>
			</div>

		</div>
		<div class="fade black"></div>
	</div>

	<div class="clear"></div>

</div>
