<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=loadMaps"></script>
<% end %>

<script type="text/javascript">
  var latitude = <%= @art.latitude || 0 %>;
  var longitude = <%= @art.longitude || 0 %>;

  // street view, point of view
  var heading = <%= @art.header || 0 %>;
  var pitch = <%= @art.pitch || 0 %>;
  var zoom = <%= @art.zoom || 0 %>;

  function loadMaps() {
    var location = new google.maps.LatLng(latitude, longitude);

    // regular map
    var map = new google.maps.Map(document.getElementById("map_canvas"), {
      zoom: 15,
      center: location,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false
    });
    
    var marker = new google.maps.Marker({
      position: location
    });
    marker.setMap(map);
    
    // street view map
    var street = new google.maps.StreetViewPanorama(document.getElementById("pano"), {
      position: location,
      pov: {
        heading: heading,
        pitch: pitch,
        zoom: zoom
      },
      addressControl: false,
      navigationControlOptions: {
        style: google.maps.NavigationControlStyle.SMALL
      }
    });
  }

  $(function() {

    $("#editInformation a").click(
      function() {
        $("#artworkMetaData").hide();
        $("#edit_artworkMetaData").show();
        $(".callout").hide();
        return false;
      }
    );
    
    $(".cancelBtn").click(
      function() {
        $("#artworkMetaData").show();
        $("#edit_artworkMetaData").hide();
        $(".callout").show();
        return false;
      }
    );
    
    <% if @submission.errors.any? %>
      // submission has errors, show the form
      $("#editInformation a").click();
    <% end %>

  });
</script>

<div id="fullColumn">
  <div id="titleContent">
    <h2 class="withSubtext withIcon">
      <%= @art.title %>
    </h2>
    
    <% if @art.commissioned %>
      <span id="commissioned" title="Commissioned by the city">Commissioned by the city</span>
    <% end %>
    
    <div class="clear"></div>
    
    <!-- <span class="commentTitle">2 comments</span> -->
  </div>
</div>

<div id="ltColumn">
  <div class="module">
    <div id="editInformation">
      <span class="callout">
        Know more information about this piece?
        <a href="#">Edit it now!</a>
      </span>
    </div>
    
    <dl id="artworkMetaData">
      <dt>Category</dt> 
      <dd><%= @art.category %></dd>

      <dt>Artist(s)</dt>  
      <dd><%= @art.artist %></dd>

      <dt>Year</dt> 
      <dd><%= @art.year %></dd>

      <dt>Neighborhood</dt> 
      <dd><%= @art.neighborhood %></dd>
      
      <dt>Ward</dt> 
      <dd><%= @art.ward %></dd>

      <dt>Location</dt>
      <dd><%= @art.location_description %></dd>

      <dt>Description</dt>  
      <dd><%= @art.description %></dd>
    </dl>
    
    <% form_for ([@art, @submission], :url => submit_art_path(@art), :html => {:id => "edit_artworkMetaData", :style => "display: none"}) do |f| %>
      <ul>
      
        <li>
          <%= f.label :category %>
          <%= f.select :category, categories, {:include_blank => "---"} %>
        </li>
        
        <li>
          <%= f.label :artist, "Artist(s)" %>
          <%= f.text_field :artist %>
        </li>
        
        <li>
          <%= f.label :year %>
          <%= f.text_field :year %>
        </li>
        
        <li>
          <%= f.label :neighborhood %>
          <%= f.select :neighborhood, neighborhoods, {:include_blank => "---"} %>
        </li>
      
        <li>
          <%= f.label :ward %>
          <%= f.text_field :ward %>
        </li>
      
        <li>
          <%= f.label :location_description, "Location" %>
          <%= f.text_area :location_description %>
        </li>
        
        <li>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </li>
        
        <li>
          <button class="submitBtn" type="submit">
              <span>Submit</span>
          </button>
        </li>
        <li>
          <a class="cancelBtn buttonLink " href="#">Cancel</a>
        </li> 
      </ul>
    <% end %>
    <div class="clear"></div>
    
  </div>
  
  <% if @art.comments.any? %>
    <div class="module" id="comments">
      <h3>Comments</h3>
      <% @art.comments.each_with_index do |comment, i| %>
        <ol>
          <li>
            <span class="commentNumber"><%= i + 1 %></span>
            <div class="commentMetaData">
              <span class="commentName">
                <% if comment.url.present? %>
                  <a href="<%= comment.url %>"><%= comment.name %></a>
                <% else %>
                  <%= comment.name %>
                <% end %>
              </span>
              
              <span class="entryDate">
                <%= comment.created_at.strftime "%B %d, %Y" %>
              </span>
              
              <p>
                <%= comment.text %>
              </p>
            </div>
            <div class="clear"></div>
          </li>
        </ol>
      <% end %>
    </div>
  <% end %>
  
  <div class="module">
    <h3>Leave a Comment</h3>
    
    <% form_for([@art, @comment], :url => comment_art_path(@art)) do |f| %>
      <ul>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </li>
        <li>
          <%= f.label :url %>
          <%= f.text_field :url %>
        </li>
        <li>
          <%= f.label :text, "Comment" %>
          <%= f.text_area :text %>
        </li>
        <li>
          <button class="submitBtn" type="submit">
            <span>Submit</span>
          </button>
        </li>   
      </ul> 
    <% end %>
    
  </div>
</div>

<div id="rtColumn">
  <div class="module" id="artworkPhoto">
    <%= image_tag 'placeholder_big.jpg' %>
  </div>
  
  <div class="module">
    <h3>Have Another Photo? Upload it now!</h3>
    <input type="file" />
  </div>
  
  <div id="map_canvas" class="smMap module"></div>
  <div name="pano" id="pano" class="module"></div>
</div>