<ul class="stats-navigation">
  <li><%= link_to "Summary", admin_stats_path %></li>
  <li><%= link_to "Tags Stats", tags_admin_stats_path %></li>
  <li><%= link_to "Categories Stats", categories_admin_stats_path %></li>
  <li><%= link_to "Artists Stats", artists_admin_stats_path %></li>
  <li><%= link_to "Cities Stats", cities_admin_stats_path %></li>
</ul>
