<% content_for :footer do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&callback=loadMaps"></script>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    var geocoder;
    var map;
    var searchMarker;
    
    function loadMaps() {
      
      <% if @art.latitude and @art.longitude %>
        var start = new google.maps.LatLng(<%= @art.latitude %>, <%= @art.longitude %>);
      <% else %>
        // dupont circle
        var start = new google.maps.LatLng(38.90940, -77.04382);
      <% end %>
      
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        zoom: 15,
        center: start,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false
      });
      
      <% if @art.latitude and @art.longitude %>
        // initialize
        updateLocation(start);
      <% end %>
      
      google.maps.event.addListener(map, "click", function(event) {
        updateLocation(event.latLng);
      });
      
      geocoder = new google.maps.Geocoder();
      $("input#search_button").click(function() {
        var query = $("input#search_text").val();
        geocoder.geocode({
          address: query,
          region: "us"
        }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var location = results[0].geometry.location;
            
            map.setZoom(15);
            updateLocation(location);
            map.panTo(location);
          }
        });
      });
      
    }
    
    function updateLocation(location) {
      if (searchMarker)
        searchMarker.setMap(null);  
      
      searchMarker = new google.maps.Marker({position: location});
      searchMarker.setMap(map);
      
      $("input#art_latitude").val(location.lat());
      $("input#art_longitude").val(location.lng());
      
      searchMarker.setDraggable(true);
      google.maps.event.addListener(searchMarker, "dragend", function(event) {
        updateLocation(event.latLng);
      });
    }
    
    $(function() {
      if ($("input#art_latitude").val() == "")
        $("input#art_latitude").val("Click on Map");
      if ($("input#art_longitude").val() == "")
        $("input#art_longitude").val("Click on Map");
    });
  </script>
<% end %>

<div id="pageMain" class="admin">

<div id="fullColumn">
  <div id="titleContent">
    <h2><%= @art.title %></h2>
    <div class="admin_landing_link">
      <%= link_to "Landing page", art_path(@art) %>
    </div>
  </div>
</div>

<div id="ltColumn">

  <%= form_for @art, :url => admin_art_path(@art) do |f| %>
    <ul>
      <li>
        <%= f.label :commissioned %>
        <%= f.check_box :commissioned %>
      </li>
      <li>
        <%= f.label :approved %>
        <%= f.check_box :approved %>
      </li>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :website %>
        <%= f.text_field :website %>
      </li>
      <li>
        <%= f.label :category %>
        <%= f.select :category, categories, {:include_blank => "---"} %>
      </li>
      <li>
        <%= f.label :neighborhood %>
        <%= f.select :neighborhood, neighborhoods, {:include_blank => "---"} %>
      </li>
      <li>
        <%= f.label :year %>
        <%= f.text_field :year %>
      </li>
      <li>
        <%= f.label :ward %>
        <%= f.text_field :ward %>
      </li>
      <li>
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </li>
      <li>
        <%= f.label :longitude %>
        <%= f.text_field :longitude %>
      </li>
      <li>
        <%= f.label :artist, "Artist(s)" %>
        <%= f.text_field :artist %>
      </li>
      <li>
        <%= f.label :location_description %>
        <%= f.text_area :location_description %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </li>
      <li>
        <%= f.label :event %>
        <%= f.check_box :event %>
      </li>
      <li>
        <%= f.label "Event begins on" %>
        <%= f.date_select :event_starts_at, :include_blank => true %>
      </li>
      <li>
        <%= f.label "Event ends on" %>
        <%= f.date_select :event_ends_at, :include_blank => true %>
      </li>
      <li>
        <button class="submitBtn" type="submit">
            <span>Submit</span>
        </button>
      </li>
    </ul>
  <% end %>

</div>

<div id="rtColumn">
  <div id="search_box">
    <input type="text" id="search_text" />
    <input type="submit" id="search_button" value="Search" />
  </div>
  <div id="map_canvas"></div>
</div>

<div class="clear"></div>
</div>