<div id="pageMain" class="admin">

<div id="fullColumn">
  <div id="titleContent">
    <h2><%= @art.title %></h2>
  </div>
</div>

<div id="ltColumn">

  <%= form_for @art, :url => admin_art_path(@art) do |f| %>
    <ul>
      <li>
        <%= f.label :commissioned %>
        <%= f.check_box :commissioned %>
      </li>
      <li>
        <%= f.label :approved %>
        <%= f.check_box :approved %>
      </li>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :category %>
        <%= f.select :category, categories, {:include_blank => "---"} %>
      </li>
      <li>
        <%= f.label :neighborhood %>
        <%= f.select :neighborhood, neighborhoods, {:include_blank => "---"} %>
      </li>
      <li>
        <%= f.label :year %>
        <%= f.text_field :year %>
      </li>
      <li>
        <%= f.label :ward %>
        <%= f.text_field :ward %>
      </li>
      <li>
        <%= f.label :artist, "Artist(s)" %>
        <%= f.text_field :artist %>
      </li>
      <li>
        <%= f.label :location_description %>
        <%= f.text_area :location_description %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </li>    
      <li>
        <button class="submitBtn" type="submit">
            <span>Submit</span>
        </button>
      </li>
    </ul>
  <% end %>

</div>

<div class="rtColumn">
</div>

<div class="clear"></div>
</div>