<!-- <%= Rails.version %> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:site_name" content="ArtAround" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>ArtAround</title>

    <script type="text/javascript" src="http://use.typekit.com/rxr6ppr.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= stylesheet_link_tag 'main' %>

    <%= javascript_include_tag 'jquery-1.7.1.min' %>
    <%= javascript_include_tag 'dragdealer' %>

    <%= yield :head %>

  </head>

  <body class="<%= content_for :body_class %>">

    <div id="headerWrapper">
      <header>
        <h1><a href="/">Art Around</a></h1>
    		<h2 id="cityView">

    		</h2>
  	    <form action="/map" method="geT" id="mapsearch_form">
  	      <label>Search by artist or title</label>
  	      <input id="mapsearch" type="text" name="q" placeholder="Search by artist or title"
            <% if params[:q].present? %>
              value="<%= params[:q] %>"
            <% end %>
            />
  	      <button class="searchBtn" type="submit">
  	          <span>Search</span>
  	      </button>
  	    </form>

  		  <nav>
    			<ul class="main_nav">
    				<% tabs = yield(:tabs) %>

            <% if tabs.present? %>
              <%= tabs %>
            <% else %>
      				<li id="map_link">
      					<a id="map" href="/map" href="#">Map</a>
      				</li>
            <% end %>

    				<li id="addArt_link">
    					<a id="addArt" href="/arts/new" href="#">Add Art</a>
    				</li>
    			</ul>
  		  </nav>
      </header>
    </div>

    <%= yield %>
	<div id="footerWrap">
	  <footer>
			<small class="cclicense">
				<span class="ccicons"></span>
				All photos are licensed with a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial</a> license and tagged appropriately.
			</small>
			<nav>
	          <ul>
	            <li class="nav_link"><a href="<%= about_path %>">About</a></li>
	            <li class="nav_link"><a href="<%= faq_path %>">FAQ</a></li>
	            <li class="nav_link"><a href="<%= contact_path %>">Contact Us</a></li>
	          </ul>
	          <div class="clear"></div>
		    </nav>

        </footer>
	</div>
    <%= yield :footer %>

    <% if Rails.env == "production" %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19074200-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>

  </body>
</html>