<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Art Around</title>
    
    <%= stylesheet_link_tag 'main' %>
    
    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'flickr' %>
    <%= javascript_include_tag 'artaround' %>
    
    <script type="text/javascript">
      Flickr.api_key = "<%= flickr[:account][:api_key] %>";
      Flickr.username = "<%= flickr[:account][:username] %>";
      
      $(function() {
        <% recent_art.each do |art| %>
          <% if art.flickr_ids and art.flickr_ids.any? %>
            loadThumbnail("art-thumbnail-<%= art.slug %>", "<%= art.flickr_ids.first %>", {
              flickr_size: "Small", 
              max_width: 75,
              max_height: 75,
              resize: true
            });
          <% end %>
        <% end %>
      });
    </script>
    
    <%= yield :head %>

  </head>
  
  <body class="<%= content_for :body_class %>">
  
    <div id="headerWrapper">
      <div id="header">
        <h1><a href="/">Art Around</a></h1>
        <div id="nav">
          <ul>
            <li id="about"><a href="<%= about_path %>">About</a></li>
            <li><a href="<%= contact_path %>">Contact Us</a></li>
          </ul>
          <div class="clear"></div> 
        </div>
      </div>  
    </div>
    
    <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    
    <%= yield %>
    
    <div id="footerWrapper">
      <div id="footer">
        <h3>Recent Uploads</h3>
        <ul>
          <% recent_art.each_with_index do |art, i| %>
            <li class="artwork<%= i + 1 %>">
              <a href="<%= art_path art %>" id="art-thumbnail-<%= art.slug %>"></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <%= yield :footer %>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19074200-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  </body>
</html>