<!-- <%= Rails.version %> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:site_name" content="ArtAround" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>ArtAround</title>

    <script type="text/javascript" src="http://use.typekit.com/rxr6ppr.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'chosen' %>

    <%= javascript_include_tag 'jquery-1.7.1.min' %>
    <%= javascript_include_tag 'dragdealer' %>
    <%= javascript_include_tag 'chosen.jquery.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'jquery.isotope.min.js' %>
    <%= javascript_include_tag 'jquery.lazyload.min.js' %>

    <%= yield :head %>

  </head>

  <body class="<%= content_for :body_class %>">

    <div id="headerWrapper">
      <header>
        <h1><a class="mainLogo" href="/"><img src="/images/logo.png" /></a><a class="mobileLogo" href="/"><img src="/images/logo_mobile.png" /></a></h1>
        <div class="formNavContainer">
          <form action="/map" method="geT" id="mapsearch_form">
            <label>Search by artist or title</label>
            <input id="mapsearch" type="text" name="q" placeholder="Search by artist or title"
              <% if params[:q].present? %>
                value="<%= params[:q] %>"
              <% end %>
              />
            <button class="searchBtn" type="submit">
                <span>Search</span>
            </button>
          </form>
    		  <nav>
      			<ul class="main_nav">
      				<% tabs = yield(:tabs) %>

              <% if tabs.present? %>
                <%= tabs %>
              <% else %>
        				<li id="map_link">
        					<a id="map" href="/" href="#">Home</a>
        				</li>
              <% end %>

      				<li id="addArt_link">
                <%= link_to "Add Art", new_art_photo_path, :id => "addArt" %>
      				</li>
      			</ul>
    		  </nav>
        </div>
        <div class="clear"></div>
      </header>
    </div>

    <%= yield %>
	<div id="footerWrap">
	  <footer>
			<small class="cclicense">
				<span class="ccicons"></span>
				All photos are licensed with a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial</a> license.
			</small>
			<nav>
	          <ul>
	            <li class="nav_link"><a href="<%= about_path %>">About</a></li>
	            <li class="nav_link"><a href="<%= faq_path %>">FAQ</a></li>
	            <li class="nav_link"><a href="<%= contact_path %>">Contact Us</a></li>
              <li class="nav_link"><a href="http://blog.theartaround.us/">Blog</a></li>
	          </ul>
	          <div class="clear"></div>
		    </nav>

        </footer>
	</div>
    <%= yield :footer %>

    <% if Rails.env == "production" %>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41817858-1', 'theartaround.us');
          ga('send', 'pageview');

      </script>
    <% end %>
    <script>
      $(window).load(function(){
        
        var $optionSets = $('#options .option-set'),
            $optionLinks = $optionSets.find('a');

        $optionLinks.click(function(){
          var $this = $(this);
          // don't proceed if already selected
          if ( $this.hasClass('selected') ) {
            return false;
          }
          var $optionSet = $this.parents('.option-set');
          $optionSet.find('.selected').removeClass('selected');
          $this.addClass('selected');
    
          // make option object dynamically, i.e. { filter: '.my-filter-class' }
          var options = {},
              key = $optionSet.attr('data-option-key'),
              value = $this.attr('data-option-value');
          // parse 'false' as false boolean
          value = value === 'false' ? false : value;
          options[ key ] = value;
          if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
            // changes in layout modes need extra logic
            changeLayoutMode( $this, options )
          } else {
            // otherwise, apply new options
            $container.isotope( options );
          }
          
          return false;
        });
        $('#sort-by a').click(function(){
          //removes class from all items to "clear" the class from your menu
          $('#sort-by a').removeClass("current");

          //adds the class to whichever item you clicked
          $(this).addClass("current");
        });
        $(function() {

            var $container = $('#art-list'),
                $select = $('#filters select');

            $container.isotope({
                itemSelector: '.isotope-item'
            });

            $select.change(function() {
                var filters = $(this).val();
        ;
                $container.isotope({
                    filter: filters
                });
            });

        });
      });
    </script>
  </body>
</html>
